.C_ArticlesRow {
  display: flex;
  gap: 15px;
  // grid-template-rows: 1fr;
  // grid-column-gap: 15px;
  // grid-row-gap: 0px;

  // .O_CardArticle:nth-child(2) {
  //   grid-column: 3/5;
  // }
  // .O_CardArticle:nth-child(3) {
  //   grid-column: 5/7;
  // }
}
// Question-Answers
.C_QaCards {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 15px;

  .O_QaCard:nth-child(1) {
    grid-column: 1/5;
  }
  .O_QaCard:nth-child(2) {
    grid-column: 5/9;
  }
  .O_QaCard:nth-child(3) {
    grid-column: 9/13;
  }
  .O_QaCard:nth-child(4) {
    grid-column: 13/17;
  }
}
.C_SmallArticleCards {
  display: flex;
  column-gap: 15px;
  position: relative;
  margin-top: 15px;
}
// // ---------------IdeasPage-----------------
.С_ArticleCategoryTags {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  justify-content: center;
  column-gap: 10px;
  margin: 50px auto;
}
.C_AllArticles {
  display: flex;
  flex-wrap: wrap;
  padding: 0 7.813vw;
  column-gap: 15px;
  row-gap: 30px;
  margin-bottom: 150px;
  // ----------------------Какой-то кринж------------------------------
  a.O_CardArticle:nth-child(1) {
    background-color: var(--primaryGreen);
  }
  a.O_CardArticle:nth-child(2) {
    background-color: var(--primaryGreen);
  }
  a.O_CardArticle:nth-child(3) {
    background-color: var(--primaryGreen);
  }
  a.O_CardArticle:nth-child(4) {
    background-color: var(--darkerBezh);
  }
  a.O_CardArticle:nth-child(5) {
    background-color: var(--darkerBezh);
  }
  a.O_CardArticle:nth-child(6) {
    background-color: var(--darkerBezh);
  }
  a.O_CardArticle:nth-child(7) {
    background-color: var(--darkerBezh);
  }
  a.O_CardArticle:nth-child(8) {
    background-color: var(--darkerBezh);
  }
  a.O_CardArticle:nth-child(9) {
    background-color: var(--darkerBezh);
  }
}
// ----------------------Какой-то кринж------------------------------
// QAarticle
.C_AllQaCards {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 15px;
  row-gap: 30px;
  padding: 0px 7.813vw;
  .O_QaCard {
    width: 20.278vw;
  }
}
// IdeasCards
.C_AllIdeasArticles {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 15px;
  padding: 0px 7.813vw;

  .O_ArticleCardLong {
    background-color: var(--darkerBezh);
  }
}
