// Header
header.O_Header {
  .M_HeaderCategories {
    display: flex;
    column-gap: 40px;
  }
}

.M_Searchbar {
  padding: 0.7rem 15px 0.7rem 20px;
  font-size: 18px;
  border-radius: 10rem;
  border: 1.5px solid var(--darkGreen);
  background-color: transparent;
  color: var(--darkGreen);
  background-image: url('images/Q_SearchIcon.svg');
  background-repeat: no-repeat;
  background-position: 95% 52%;
  width: 20%;

  &::placeholder {
    color: rgba($color: #26734e, $alpha: 0.75);
  }
}
input.M_Searchbar:focus {
  outline: none;
  border: 1.5px solid darken($color: #26734e, $amount: 10%);
  background-image: none;

  &::placeholder {
    color: rgba($color: #26734e, $alpha: 1);
  }
}
// IconHeading
.M_IconHeading {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  // max-width: 1160px;
  text-align: center;
  gap: 10px;
  align-items: baseline;
}
.M_IconHeadingLeft {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  gap: 10px;
  align-items: baseline;
}
.M_LongArticleHeading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  row-gap: 15px;

  h2 {
    text-align: left;
  }
}

// TagLineCard
.M_TagLine {
  display: flex;
  column-gap: 10px;
  justify-content: center;
}
// CardInfo
.M_ArticleInfo {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
// Cards
.M_AdviceCardCentered {
  width: 580px;
  display: flex;
  height: 200px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-items: center;
  background-color: var(--darkerBezh);
  row-gap: 30px;
}
.M_AdviceCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--bezh);
  row-gap: 1rem;
  width: 529px;
  height: 200px;
  border-radius: 12px;
  padding: 1.5rem 3rem 1.5rem 1.5rem;
  text-decoration: none;
  h2 {
    text-align: left;
  }
  &.wrapper {
    width: 66%;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;

    .A_SubCard {
      text-align: center;
    }
  }
}
// Footer
.M_FooterLogoSocial {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0;
}
// ArticleHtml
.M_BreakerIconText {
  display: flex;
  gap: 1rem;
}
// IdeasArticleHtml
.M_PersonProfileArticle {
  display: flex;
  gap: 1rem;
  width: 30%;
}
.M_SubheadText {
  display: flex;

  // .A_MainTextArticle {
  //   width: 65%;
  // }
}
.M_AdvideArticleBlock {
  display: flex;
  gap: 80px;
  align-items: center;
}
form.M_SubmitEmail {
  display: flex;
  outline: none;
  gap: 1rem;
  &:focus,
  input:focus {
    outline: none;
  }
  button.A_ButtonPrimary {
    background-color: var(--primaryGreen);
    color: var(--darkGreen);
    border: none;
    padding: 0;
  }
}
.M_AdviceTextHeading {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 65%;
}
.M_AdviceImageColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 25px;
}
.M_AdviceBreaker {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: var(--primaryGreen);
  align-items: center;
  gap: 16px;
  padding: 1.5rem;
  border-radius: 1em;
}
// QA-ArticleHtml
.M_QaContent {
  display: flex;
  flex-direction: column;
  align-items: center;

  .A_MainTextArticle {
    margin-bottom: 1.25rem;
  }
}
