// Header
header.O_Header {
  .M_HeaderCategories {
    display: flex;
    column-gap: 40px;
  }
}
// IconHeading
.M_IconHeading {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  // max-width: 1160px;
  text-align: center;
  gap: 10px;
  align-items: baseline;

  &:nth-child(1) {
    margin: 30px auto 0px;
    width: 69.444vw;
  }
}
.M_IconHeadingLeft {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  gap: 10px;
  align-items: baseline;
}
.M_LongArticleHeading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 85%;
  row-gap: 15px;

  h2 {
    text-align: left;
  }
}
// Links
.M_LinkArticleCategory {
  display: flex;
  grid-column: 22/25;
}
// TagLineCard
.M_TagLine {
  display: flex;
  column-gap: 10px;
  justify-content: center;
}
// CardInfo
.M_ArticleInfo {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
// Footer
.M_FooterLogoSocial {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
// HeadingLinkMain
.M_HeadingLink {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 30px 0px;
}
// ArticleHtml
.M_PersonProfileArticle {
  display: flex;
  column-gap: 20px;
  width: 30%;
}
.M_NamePersonArticle {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.M_SubheadText {
  display: flex;
  gap: 50px;
}
.M_BreakerIconText {
  display: flex;
  align-items: top;
  gap: 30px;
  align-items: center;

  .A_Telegram {
    width: 60px;
    height: 60px;
    background-image: url('images/A_Telegram60px.png');
  }
}
