// Header
header.O_Header {
  display: flex;
  grid-row-gap: 0px;
  width: 100%;
  padding: 3rem 5rem 0rem;
  margin: 0 auto;
  transition: transform 0.4s ease-out;
  position: sticky;
  background-color: inherit;
  top: 0;
  z-index: 5;
}
// HomeScreen
.O_WelcomeScreen {
  position: relative;
  width: 100%;
  height: 720px;
  background-image: url('images/mainScreenPlaceholder.webp');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2vw;

  .M_IconHeading {
    margin: 30px auto 0px;
    width: 920px;
  }
}
// ArticleCard
.O_CardArticle {
  background-color: var(--bezh);
  display: flex;
  width: 530px;
  height: 560px;
  flex-direction: column;
  padding: 10px 10px 30px 10px;
  border-radius: 1vw;
  text-decoration: none;
  gap: 20px;
  .M_ArticleInfo {
    align-items: center;
  }
  img {
    border-radius: 1vw;
  }
}
.O_CardArticleBig {
  width: 800px;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 30px 10px;
  border-radius: 1vw;
  text-decoration: none;
  background-color: var(--primaryGreen);
  gap: 20px;
  .M_ArticleInfo {
    align-items: center;
  }
  img {
    border-radius: 1vw;
  }
}
.O_ArticleCardLong {
  display: flex;
  height: 200px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--bezh);
  row-gap: 30px;
  width: 32.5%;
  border-radius: 1vw;
  padding: 25px;
  text-decoration: none;

  h2 {
    max-width: 400px;
    max-height: 70px;
    text-align: left;
  }
}
.O_QaCard {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  background-color: var(--darkerBezh);
  row-gap: 1.5rem;
  width: 393px;
  border-radius: 1.5rem;
  padding: 1.5rem;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.5s ease, opacity 0.5s ease;

  .M_ArticleInfo {
    align-items: center;
  }

  .Q_QaIconArticle {
    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      path {
        fill: #f2f7da;
        stroke: var(--darkGreen);
      }
    }
  }

  &:hover {
    transform: translateY(-10px);
  }
}
// Newarticle
.O_NewArticle {
  display: flex;
  flex-direction: column;
  gap: 3vw;
}
// ArticleHeading
.O_ArticleWide {
  display: flex;
  width: 100%;
  height: 632px;
  padding-bottom: 2vw;
  background-color: var(--primaryGreen);
  border-radius: 24px;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: flex-end;
  text-decoration: none;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  .M_ArticleInfo {
    width: 45%;
  }
}
.O_ArticleSlider {
  display: flex;
  width: 100%;
  height: 632px;
  padding-bottom: 30px;
  background-color: var(--primaryGreen);
  border-radius: 24px;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: flex-end;
  text-decoration: none;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

  .M_ArticleInfo {
    align-items: center;
  }
}
.O_ArticleIdeas {
  display: flex;
  width: 100%;
  height: 632px;
  padding-bottom: 30px;
  background-color: var(--primaryGreen);
  border-radius: 24px;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: flex-end;
  text-decoration: none;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

  .M_ArticleInfo {
    width: 50%;
    align-items: center;
  }
}
.rainingBg {
  background-image: url('images/Q_Raining.png');
  background-size: 107%;
  background-position: 76% 129%;
}
// IdeaCardBig

.O_IdeaBigCard {
  width: 802px;
  height: 415px;
  background-color: var(--blue);
  border-radius: 1rem;
  display: flex;
  text-decoration: none;
  align-items: flex-start;
  flex-direction: column;
  padding: 1.5rem;
  row-gap: 1rem;
  background-image: url('images/Q_BigArticleBicycle.png');
  background-repeat: no-repeat;
  background-size: auto 76%;
  background-position: 128% 100%;
}
.ray_Bg {
  background-image: url('images/Q_ArticleRyeArticle.png');
  background-size: 55%;
  background-position: 90% 100%;
}
// SliderArticles
.O_Slider {
  width: 1240px;
  height: 460px;
  background-color: var(--blue);
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.O_CardHigh {
  width: 529px;
  height: 415px;
  background-color: var(--primaryGreen);
  border-radius: 16px;
  padding: 1.5rem;
  text-decoration: none;

  .M_LongArticleHeading {
    justify-content: space-between;
    height: 100%;
  }

  &.blue {
    width: 612px;
    height: 318px;
    background-color: var(--blue);
    background-image: url('images/Q_ArticleRyeArticle.png');
    background-position: bottom 0 right -20px;
    background-size: 60%;
    background-repeat: no-repeat;
  }
}
// Backgrounds
.Q_DrinksIdeas {
  background-image: url('images/Q_DrinksArticle.png');
  background-repeat: no-repeat;
  background-position: right 60px;
}
.Q_VegetablesIdeas {
  background-image: url('images/Q_VegetablesArticle.png');
  background-repeat: no-repeat;
  background-size: 92%;
  background-position: right 45px;
}
.Q_RaindropsIdeas {
  background-image: url('images/Q_RaindropsArticle.png');
  background-repeat: no-repeat;
  background-size: 66%;
  background-position: top 39px right -78px;
}
.W_TwoIdeasArticle {
  .O_ArticleCardLong {
    width: 530px;
    height: 200px;
    align-items: center;
    row-gap: 1.25rem;
    justify-content: center;
    border: 1.5rem;

    h2 {
      text-align: center;
    }
  }
}
// ArticleHtml
.O_HeadingArticle {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;

  .M_IconHeadingLeft {
    width: 70%;
  }
  .M_TagLine {
    width: 20%;
    flex-wrap: wrap;
    justify-content: flex-end;
    row-gap: 0.5rem;
  }
}
.O_ArticleAuthorDescription {
  display: flex;
}
.O_ArticleBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 35px;
}
// Breaker
.O_BreakerOpinion {
  background-color: var(--primaryGreen);
  display: flex;
  border-radius: 1.5rem;
  padding: 2rem;
  margin-top: 4rem;
}
.O_SocialMediaBreaker {
  display: flex;
  background-color: var(--primaryGreen);
  border-radius: 16px;
  padding: 25px 30px;
  width: 100%;
  justify-content: space-between;
}
// IdeasArticleHrml
.O_AdviceContnetBlock {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
// Footer
.O_FooterCategoriesForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3vw;
}
.O_ErrorTextNumber {
  display: flex;
  flex-direction: column;
}
// Search
.O_Search {
  display: flex;
}
