* {
  box-sizing: border-box;
}

// Header
// Links
.Q_ArrowForward {
  height: 18px;
  width: 18px;
  background-image: url('images/Q_ArrowForward.svg');
}
// Images
.Q_Image {
  max-height: 600px;

  img {
    width: 100%;
    height: auto;
  }
}
.Q_ImageArticleNew {
  height: 520px;
  width: 100%;
  z-index: 1;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
  }
  .Q_IconDecoration:nth-child(2) {
    bottom: -5.556vw;
    left: -6.25vw;
  }
  .Q_IconDecoration:nth-child(3) {
    top: -6.25vw;
    right: -5.556vw;
    z-index: -1;
  }
}

// IconsDecoration
.Q_IconDecoration {
  width: 14.583vw;
  height: 14.583vw;
  position: absolute;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.Q_ImageWide {
  width: 100%;
  height: 31.25vw;
  background-color: var(--darkerBezh);
  border-radius: 24px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 24px;
    object-fit: cover;
  }
}
// QAimagecards
.Q_QaIconArticle {
  width: 16.667vw;
  height: 16.146vw;

  img {
    width: 100%;
    height: auto;
  }
}
// ArticleSlider
// SliderAdvices
.Q_SliderButton {
  width: 1rem;
  height: 1rem;
  background-color: var(--darkGreen);
  border-radius: 2rem;

  &:hover {
    cursor: pointer;
  }
}
// Socials
.Q_YouTube {
  width: 45px;
  height: 45px;
  background-image: url('images/Q_YouTube.svg');
  background-size: cover;
}
.Q_Telegram {
  width: 45px;
  height: 45px;
  background-image: url('images/Q_Telegram.svg');
  background-size: cover;
}
.Q_Vk {
  width: 45px;
  height: 45px;
  background-image: url('images/Q_Vk.svg');
  background-size: cover;
}
