:root {
  --swiper-pagination-color: var(--darkGreen);
  --swiper-pagination-bullet-size: 12px;
  --swiper-pagination-bullet-width: 12px;
  --swiper-pagination-bullet-height: 12px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

* {
  box-sizing: border-box;
}

// Header
// Links
.Q_ArrowForward {
  height: 18px;
  width: 18px;
  background-image: url('images/Q_ArrowForward.svg');
}
// Images
.Q_Image {
  max-height: 600px;

  img {
    width: 100%;
    height: auto;
  }
}
.Q_ImageArticleNew {
  height: 520px;
  width: 100%;
  max-width: 700px;
  z-index: 1;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
  }
  .Q_IconDecoration:nth-child(2) {
    bottom: -5.556vw;
    left: -6.25vw;
  }
  .Q_IconDecoration:nth-child(3) {
    top: -6.25vw;
    right: -5.556vw;
    z-index: -1;
  }
}

// IconsDecoration
.Q_IconDecoration {
  width: 14.583vw;
  height: 14.583vw;
  position: absolute;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.Q_ImageWide {
  width: 100%;
  height: 31.25vw;
  background-color: var(--darkerBezh);
  border-radius: 24px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 24px;
    object-fit: cover;
  }
}
// QAimagecards
.Q_QaIconArticle {
  width: 16.667vw;
  height: 16.146vw;

  img {
    width: 100%;
    height: auto;
  }
}
// ArticleSlider
// SliderAdvices
.Q_SliderButton {
  width: 1rem;
  height: 1rem;
  background-color: var(--darkGreen);
  border-radius: 2rem;

  &:hover {
    cursor: pointer;
  }
}
// Icons
// Icons
.Q_IconMedium {
  width: 80px;
  height: 75px;
  background-size: contain;
  background-repeat: no-repeat;
}
.Glitter {
  background-image: url('images/Q_GlitterMedium.svg');
}
.Citrus {
  background-image: url('images/Q_CitrusMedium.svg');
}
.Clouds {
  background-image: url('images/Q_CloudsMedium.svg');
}
.Snowflakes {
  background-image: url('images/Q_SnowflakesMedium.svg');
}
.Q_LeavesMedium {
  background-image: url('images/A_LeavesMedium.png');
}
.Q_HomeMedium {
  background-image: url('images/A_HouseMedium.png');
}
.Q_SunMedium {
  background-image: url('images/A_SunMedium.svg');
}
.Q_CarrotMedium {
  background-image: url('images/Q_CarrotMedium.png');
}
.Q_CupMedium {
  background-image: url('images/Q_CupMedium.png');
}
.Q_FlowerMedium {
  background-image: url('images/Q_FlowerMedium.png');
}
.Q_Ð¡arpetMedium {
  background-image: url('images/Q_CarpetMedium.png');
}
.Q_WheelMedium {
  background-image: url('images/Q_WheelMedium.png');
}
.Q_UmbrellaMedium {
  background-image: url('images/Q_UmbrellaMedium.png');
}
.Q_FenceMedium {
  background-image: url('images/Q_FenceMedium.png');
}
.Q_PongMedium {
  background-image: url('images/Q_PongMedium.png');
}
.Q_MushroomMedium {
  background-image: url('images/Q_MushroomMedium.png');
}
// Socials
.Q_YouTube {
  width: 45px;
  height: 45px;
  background-image: url('images/Q_YouTube.svg');
  background-size: cover;
}
.Q_Telegram {
  width: 45px;
  height: 45px;
  background-image: url('images/Q_Telegram.svg');
  background-size: cover;
}
.Q_Vk {
  width: 45px;
  height: 45px;
  background-image: url('images/Q_Vk.svg');
  background-size: cover;
}
// ArticleHtml_BlockText
.Q_PersonArticlePic {
  width: 96px;
  height: 96px;
  background-image: url('images/Q_PersonArticlePic.png');
  background-size: cover;
}
.Q_Evsenia {
  background-image: url('images/Q_Evsenia.png');
}
.Q_Lilia {
  background-image: url('images/Q_Lilia.png');
}
.Q_ArticlePicture {
  width: 70%;
  height: 27.604vw;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
  }
  figcaption.A_PhotoDescprition {
    font-size: 1.25rem;
    width: 85%;
    line-height: 140%;
    color: var(--darkGreen);
    font-family: Manrope;
    margin-top: 1rem;
  }
}
