body {
  background-color: var(--bezh);
}
section.S_FirstScreen {
  display: flex;
  width: 100%;
  padding: 0 7.813vw;
  margin-top: 50px;
}
section.S_ArticlesHeading {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 75px 7.813vw;
  margin: 50px 0px 100px 0px;
  background-color: var(--primaryGreen);
  border-radius: 32px;

  .M_HeadingLink {
    width: 66.5%;
  }
}
.S_NewArticle {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  padding: 7.813vw 7.813vw;
  position: relative;
  // Какой-то кринж?-----------------------------------
  .A_IconDecoration {
    position: absolute;
    right: 42.656vw;
    bottom: 1.677vw;
    z-index: 2;
  }
  #sun {
    bottom: 0;
    position: absolute;
    right: 3.125vw;
    top: 2.083vw;
    z-index: 0;
  }
  // Какой-то кринж?-----------------------------------
}
.S_AdvicesArticles {
  // display: grid;
  // grid-template-columns: repeat(24, 1fr);
  // grid-template-rows: 1fr;
  // grid-column-gap: 15px;
  display: flex;
  flex-direction: column;
  padding: 75px 7.813vw 7.813vw;
  position: relative;
  border-radius: 32px;
  background-color: var(--blue);
}
.S_QaCards {
  display: flex;
  flex-direction: column;
  padding: 75px 7.813vw;
  position: relative;
  border-radius: 32px;

  .M_HeadingLink {
    grid-column: 1/25;
  }
}
.S_Footer {
  display: flex;
  height: 400px;
  padding: 100px 7.813vw;
  background-color: var(--darkGreen);
  justify-content: space-between;
  border-radius: 32px 32px 0px 0px;
  margin-top: 150px;
}
