body {
  background-color: var(--bezh);
}
section.S_FirstScreen {
  display: flex;
  width: 100%;
  width: 1620px;
  margin: 30px auto 0px auto;
}
section.S_ArticlesHeading {
  background-color: var(--primaryGreen);
  border-radius: 32px;
  margin-top: 4rem;
  padding: 6rem 0px;
}
.S_NewArticle {
  display: flex;
  width: 1620px;
  position: relative;
  margin: 13rem auto 13rem;
  gap: 5rem;

  .A_IconDecoration {
    position: absolute;
    right: 42.656vw;
    bottom: 1.677vw;
    z-index: 2;
  }
  #sun {
    bottom: 0;
    position: absolute;
    right: 3.125vw;
    top: 2.083vw;
    z-index: 0;
  }
  // Какой-то кринж?-----------------------------------
}
.S_AdvicesArticles {
  display: flex;
  flex-direction: column;
  padding: 4rem 0px 6rem;
  position: relative;
  border-radius: 32px;
  background-color: var(--blue);
}
.S_QaCards {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 32px;
  margin: 6rem 0;

  .M_HeadingLink {
    grid-column: 1/25;
  }
}
.S_Footer {
  display: flex;
  height: 340px;
  padding: 3rem 0 1.5rem;
  align-items: center;
  background-color: var(--darkGreen);
  justify-content: space-between;
  border-radius: 32px 32px 0px 0px;
}
// ArticleHtml
.S_ArticlePreview {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  border-radius: 0;
  width: 1620px;
  margin: 4rem auto;
  padding-bottom: 4rem;
}

.S_Phreference {
  width: 100%;
  padding: 4rem 0 12rem;
  border-radius: 2rem 2rem 0 0;
}
// QAArticleHtml
.S_QaArticle {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 4rem auto;
  background-color: var(--darkerBezh);
  width: 1040px;
  border-radius: 2rem;
  padding: 1.5rem 4rem 3rem;
  margin-bottom: 8rem;
  .M_IconHeading {
    width: 78%;
    margin: 0 auto;
  }
  .M_QaContent {
    width: 800px;
  }
}
