.W_Header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  border-bottom: 1px solid var(--darkGreen);
  padding-bottom: 20px;
}
.W_TitleLink {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
}
.W_HeadingArticles {
  width: 1620px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .W_TitleLink {
    width: 65.5%;
  }
}

// NewArticle
.W_NewArticleHeading {
  max-width: 720px;
  .M_IconHeadingLeft {
    margin: 0px 0px 25px;
  }
}
// IdeasSlider
.W_Slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}
// Advices
.W_ArticleHeadingBig {
  display: flex;
  flex-direction: column;
}
.W_AdvicesArticles {
  width: 1620px;
  margin: 0 auto;
}
// QaArticles
.W_QaCards {
  display: flex;
  width: 1620px;
  margin: 0 auto;
  flex-direction: column;
}
// Footer---------------------------------------
.W_FooterWithout {
  display: flex;
  width: 1620px;
  justify-content: space-between;
  margin: 0 auto;
}
.W_FooterCategories {
  display: flex;
  gap: 1.5rem;
}
.W_Authors {
  display: flex;
  gap: 2.5rem;
}
.W_FooterNamesList {
  display: flex;
  color: var(--bezh);
  flex-direction: column;
  gap: 0.5rem;
  .AuthorName:nth-child(1) {
    font-family: '_21_Cent';
    font-size: 1.4rem;
  }
}
.W_FooterNamesSocialLogo {
  display: flex;
  gap: 2rem;
}
// ---------------IdeasPage-----------------
.W_ArticleSlider {
  width: 1620px;
  margin-top: 50px;
  margin: 0 auto;
  margin-top: 30px;
}
.W_TwoIdeasArticle {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 801px;
  .O_CardHigh {
    width: 801px;
    height: 415px;
  }
  .M_AdviceCard {
    width: 801px;
    align-items: center;
    h2 {
      text-align: center;
    }
  }
}
// ArticleHtml
.W_HomeScreenArticle {
  background-color: var(--darkerBezh);
}
.W_MainTexts {
  display: flex;
  flex-direction: column;
  width: 65%;
  gap: 1.5rem;
}
.W_WholeIdeaArticle {
  display: flex;
  flex-direction: column;
  width: 1620px;
  margin: 0 auto;
  gap: 4rem;
  margin-bottom: 8rem;
  .M_AdviceTextHeading {
    width: 60%;
    .A_AdviceHeading {
      width: 90%;
    }
  }
}
.W_WholeArticle {
  display: flex;
  flex-direction: column;
  row-gap: 4.375rem;
  width: 1620px;
  margin: 0 auto;
  align-items: flex-end;
  margin-bottom: 12rem;
  .W_MainTexts:nth-child(3) {
    width: 65%;
    margin-right: 4rem;
  }
  // .O_ArticleBlock:nth-child(1) {
  //   margin-bottom: 2rem;
  //   .A_MainTextArticle {
  //     width: 65%;
  //   }
  // }
  .O_ArticleBlock:nth-child(6) {
    .A_MainTextArticle {
      width: 65%;
    }
  }
  .A_MainTextArticle:nth-child(3) {
    width: 65%;
    margin-right: 4rem;
  }

  .Q_ImageWide {
    display: flex;
    align-items: center;
    justify-content: center;

    // img {
    //   width: 93%;
    // }
  }
}
// ArticleIdeas
.W_ArticleHead {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 4rem;
  margin-bottom: 8rem;
  padding-bottom: 5rem;
  border-bottom: 1px solid var(--darkGreen);

  .M_IconHeading,
  .A_AdviceDescriptionText {
    width: 1200px;
  }
}
.W_ImageBlock {
  display: flex;
  gap: 1rem;
  .A_AdviceImage {
    width: 75%;
  }
}
.W_Phreference {
  width: 1620px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  gap: 2rem;
}
.W_PreferenceFooter {
  background-color: var(--blue);
  border-radius: 2rem 2rem 0 0;
}
.W_QaTexts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.W_ErrorText {
  width: 505px;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
