.W_Header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  border-bottom: 1px solid var(--darkGreen);
  padding-bottom: 20px;
}
// NewArticle
.W_NewArticleHeading {
  .M_IconHeadingLeft {
    margin: 0px 0px 25px;
  }
}
// Advices
.W_ArticleHeadingBig {
  display: flex;
  flex-direction: column;
}
// Footer
.W_FooterCategories {
  display: flex;
  gap: 25px;
}
.W_FooterNameList {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.W_Authors {
  display: flex;
  column-gap: 30px;
}
.W_Socials {
  display: flex;
  gap: 10px;
}
.W_FooterInfoForm {
  display: flex;
  gap: 50px;
}
// ---------------IdeasPage-----------------
.W_ArticleSlider {
  padding: 0px 7.813vw;
  margin-top: 50px;
}
