body.about {
  background-color: var(--bezh);
  * {
    box-sizing: border-box;
  }
  * {
    cursor: url('images/cursorVeranda.svg'), pointer;
  }
  p {
    font-family: HelveticaNeueCyr;
    font-size: 1.944vw;
    color: var(--darkGreen);
    line-height: 1.944vw;
    display: block;
  }
  span.spot {
    background-color: var(--secondaryGreen);
    font-size: 1.944vw;
    padding: 1.042vw 1.736vw;
    border-radius: 1.433vw;
    width: 12.5vw;
    text-align: center;
    align-items: center;
    display: inline-block;
  }
  div.homeScreen {
    align-items: center;
    flex-direction: column;
    background-color: var(--primaryGreen);
    padding: 1.736vw;
    margin: 0 auto;
    border-radius: 0px 0px 1.433vw 1.433vw;
  }
  // HomeScreen
  .window {
    width: 100%;
    height: 46.667vw;
    background-image: url('images/mainScreen.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 11.694vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    .mediatext {
      line-height: 2.222vw;
    }
    p:last-child {
      text-align: center;
    }

    .row {
      display: flex;
      width: 87%;
      justify-content: space-between;
      align-items: center;

      .dropdown:hover .dropdown-content {
        display: block;
        transition: all 0.5s;
      }
      .dropdown:hover .dropbtn {
        border-radius: 1.433vw 1.433vw 0px 0px;
      }
      .dropdown {
        position: relative;
        display: inline-block;
        transition: all 0.5s;

        .dropbtn:hover img {
          transform: rotate(45deg);
          transition: all 0.2s;
        }
        .dropbtn {
          background-color: var(--secondaryGreen);
          color: white;
          padding: 16px;
          display: flex;
          border-radius: 1.433vw;
          align-items: center;
          border: none;
          box-sizing: border-box;
        }
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: var(--secondaryGreen);
          width: 100%;
          padding: 16px;
          border-radius: 0 0 1.433vw 1.433vw;
          z-index: 1;

          a {
            font-size: 1.944vw;
            font-family: HelveticaNeueCyr;
            text-decoration: none;
            margin-left: 10px;
            color: var(--darkGreen);
          }
        }
      }

      .social {
        display: flex;
        gap: 0.2vw;

        a:hover {
          opacity: 75%;
        }
        a {
          img {
            width: 3.125vw;
            height: 3.125vw;
          }
        }
      }
    }

    h1 {
      font-family: Granite;
      font-style: italic;
      font-size: 9.722vw;
      display: block;
      margin-top: 2.778vw;
      color: var(--darkGreen);
      margin-left: 3vw;
    }
    img {
      width: 1.189vw;
      height: 1.189vw;
      margin-left: 0.294vw;
    }
  }
  // MoreTags
  div.tagLine {
    width: 100%;
    height: 3.958vw;
    margin-top: 1.389vw;
    margin-bottom: 6.472vw;
    display: flex;
    gap: 1.042vw;

    .tagSmall {
      display: flex;
      padding: 1.042vw 1.736vw;
      align-items: center;
      gap: 0.694vw;
      border-radius: 1.433vw;
      background-color: var(--secondaryGreen);

      p {
        margin-top: 5px;
        color: var(--primaryGreen);
      }

      img {
        width: 2vw;
        height: 2vw;
      }
    }
  }

  // About

  div.info {
    display: flex;
    justify-content: space-between;
    padding: 0 6.944vw;
    margin-bottom: 6.944vw;

    div.info > div {
      display: flex;
      flex-direction: column;
    }

    span.spot {
      background-color: white;
    }
    p.infoText {
      width: 45.139vw;
      font-size: 1.944vw;
      color: white;
      line-height: 2.222vw;
      margin-bottom: 1.736vw;

      span {
        font-family: Granite;
        font-size: 2.244vw;
        color: var(--secondaryGreen);
      }
    }
  }
  // Whom
  div.whom {
    display: flex;
    padding: 0 6.944vw;
    flex-direction: column;
    margin-bottom: 3.472vw;
    // Problem
    p > span {
      background-color: white;
      font-size: 1.944vw;
      padding: 1.042vw 1.736vw;
      border-radius: 1.433vw;
      text-align: center;
      align-items: center;
      display: inline-block;
    }
    div.cardsW {
      margin-top: 4.167vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      // Карточка
      div {
        width: 40.5vw;
        display: flex;
        flex-direction: column;
        gap: 2.083vw;
        background-color: white;
        border-radius: 2.222vw;
        padding: 2.083vw;

        p {
          line-height: 2.222vw;
        }
        div.profilePic {
          padding: 0;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }

        img {
          width: 7.5vw;
          height: 7.5vw;
          background-size: cover;
          border-radius: 8.333vw;
        }
        svg {
          width: 5.556vw;
          height: 5.556vw;
        }
      }
    }
  }
  // Stats screen
  .stats {
    margin-top: 3.472vw;
    width: 100%;
    // height: 1000px;
    padding: 0 8.333vw;
    display: flex;
    flex-direction: column;
    // Problem
    p > span {
      background-color: var(--primaryGreen);
      color: white;
    }
    .statsWrapper {
      display: flex;

      .blockwrap {
        p.problem {
          width: 45.139vw;
          margin-left: 20.139vw;
          line-height: 2.222vw;
        }
      }
      // Picture with tags
      .blockTag {
        height: 40.722vw;
        width: 50.5vw;
        margin-left: 20.139vw;
        border-radius: 2.222vw;
        margin-bottom: 2.083vw;
        background-image: url(images/cozy.png);
        background-size: cover;
        div {
          display: flex;
          width: 100%;

          .tagRow {
            width: 50%;
            height: 7.847vw;
            margin: 2.736vw 1.736vw;
            flex-wrap: wrap;
            gap: 0.694vw;
            p > span {
              min-width: 11.806vw;
              padding: 1.042vw 1.736vw;
              border-radius: 1.433vw;
              color: var(--darkGreen);
              background-color: var(--secondaryGreen);
            }
            p > span {
              border-radius: 1.433vw 1.433vw 1.433vw 0;
            }
            p:nth-child(3) {
              margin-top: 0.347vw;
            }
          }
          .tagRow:last-child {
            justify-content: flex-end;

            p:nth-child(3) {
              margin-top: 0.347vw;
            }
            p > span {
              border-radius: 1.433vw 1.433vw 0 1.433vw;
            }
          }
        }
      }
    }
    .statsForest {
      width: 100%;
      height: 48.611vw;
      padding: 0px 3.472vw;
      margin-top: 13.889vw;
      align-items: end;
      display: flex;
    }
    // Second Tree
    .tree:nth-child(2) {
      position: absolute;
      left: 38vw;
      p {
        width: 21.528vw;
        margin-bottom: 1.689vw;
      }
      img {
        width: 20.833vw;
      }
    }
    // Third Tree
    .tree:nth-child(3) {
      position: absolute;
      left: 61vw;
      p {
        width: 23.611vw;
      }

      img {
        width: 27.778vw;
      }
    }
    // First Tree
    .tree {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 31.25vw;
      }
      h1 {
        font-size: 8.333vw;
        color: var(--primaryGreen);
      }
      p {
        width: 25.333vw;
        font-size: 1.944vw;
        padding: 1.736vw 20px;
        border-radius: 1.433vw;
        background-color: white;
        border: 0.139vw solid var(--darkGreen);
        margin-bottom: 1.289vw;
      }
    }
  }
  // Cards
  .cardsBlock {
    width: 100%;
    height: 69.444vw;
    background-color: var(--primaryGreen);
    border: 0.139vw solid var(--darkGreen);
    border-radius: 2.222vw 2.222vw 0px 0px;
    border-bottom: none;

    .solutionWrapper {
      padding: 3.472vw 7.5vw;
    }
    h2 {
      font-family: HelveticaNeueCyr;
      font-weight: 400;
      font-size: 1.944vw;
      max-width: 23.611vw;
      color: var(--darkGreen);
    }
    span.spot {
      margin-bottom: 2.083vw;
      background-color: white;
    }
    div.cardGrid {
      width: 100%;
      height: 80%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-gap: 0.694vw;
      padding: 0 2.083vw;

      .card {
        border-radius: 2.222vw;
        background-color: white;
        padding: 2.083vw 1.389vw;
        padding-bottom: 1vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .sign {
          display: flex;
          gap: 5px;
          align-items: baseline;
          margin-top: 0.5vw;

          p {
            color: white;
            font-size: 1.389vw;
          }
        }

        p {
          display: block;
          font-size: 1.9vw;
          color: var(--darkGreen);

          span {
            padding: 0.894vw 1.042vw;
            background-color: var(--secondaryGreen);
            border-radius: 1.133vw;
            box-sizing: content-box;
          }
        }
      }
      .card:first-child {
        grid-column: 1/2;
        grid-row: 1/3;
        justify-content: end;
        background-image: url('images/history.png');
        background-size: cover;

        h2 {
          color: white;
        }
        .sign {
          p {
            color: white;
          }
        }
      }
      .card:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1/2;

        p > span {
          color: var(--darkGreen);
          background-color: white;
          border: 0.139vw solid var(--darkGreen);
        }
      }
      .card:nth-child(3) {
        grid-column: 3/5;
        grid-row: 1/3;
        background-image: url('images/gamak.png');
        background-size: cover;
        background-position: center;

        h2 {
          color: white;
        }
      }
      .card:nth-child(4) {
        grid-column: 2/3;
        grid-row: 2/3;
        background-image: url('images/autumn.png');
        background-repeat: no-repeat;
        background-size: 25.694vw 18.056vw;
        background-size: cover;
        background-position: center;
        h2 {
          color: white;
        }
      }
      .card:nth-child(5) {
        grid-column: 1/3;
        grid-row: 3/4;
        .sign {
          p {
            color: var(--darkGreen);
          }
        }
      }
      .card:nth-child(6) {
        grid-column: 3/5;
        grid-row: 3/4;
        background-image: url('images/tula.png');
        background-repeat: no-repeat;
        background-size: cover;

        h2 {
          color: white;
        }
      }
    }
  }
  // Footer
  footer {
    width: 100%;
    background-color: var(--primaryGreen);
    border: 0.139vw solid var(--darkGreen);
    display: flex;
    align-items: center;
    border-top: none;
    padding: 5.556vw 3.472vw 2.556vw;
    justify-content: space-between;

    div {
      display: flex;
    }
    div > div {
      display: flex;
      gap: 0.694vw;
      align-items: flex-end;
      p {
        color: var(--secondaryGreen);
      }
      a {
        font-size: 1.944vw;
        font-family: HelveticaNeueCyr;
        text-decoration: none;
        line-height: 2.222vw;
        color: var(--secondaryGreen);
        display: inline-block;
      }
      a:hover {
        opacity: 75%;
      }
    }
    .mediaFooter {
      display: flex;
      gap: 0.694vw;
    }
    img:hover {
      opacity: 75%;
    }
    img {
      width: 4.167vw;
      height: 4.167vw;
    }
    .links {
      display: flex;
      align-items: center;
      gap: 2.083vw;

      div {
        display: flex;
        align-items: center;
      }
      p {
        color: var(--secondaryGreen);
      }
    }
  }
}
