body.article {
  background-color: var(--bezh);
  margin: 0 auto;

  * {
    box-sizing: border-box;
  }
  // Fonts
  h1 {
    font-family: Manrope;
    font-weight: 600;
    font-size: 4.271vw;
    line-height: 90%;
    display: block;
    color: var(--darkGreen);
  }
  h2 {
    font-family: Manrope;
    font-weight: 600;
    font-size: 50px;
    color: var(--darkGreen);
  }
  h3 {
    font-size: 42px;
    font-family: Manrope;
    line-height: 120%;
    color: var(--darkGreen);

    span {
      font-family: '_21_Cent';
      font-weight: lighter;
      font-size: 44px;
    }
  }
  p {
    font-family: Manrope;
    font-size: 28px;
    color: var(--darkGreen);
  }
  // Tag
  p.tag > span {
    font-size: 20px;
    border: 2px solid var(--darkGreen);
    padding: 10px 15px;
    color: var(--darkGreen);
    border-radius: 12px;
  }
  // Person
  .articleProfile {
    display: flex;
    align-items: center;
    width: 21%;
    gap: 6%;
    p {
      display: inline-block;
    }
    p > span {
      margin-top: 10px;
      font-size: 21px;
      display: inline-block;
    }
    img {
      height: 110px;
      object-fit: cover;
      border-radius: 60px;
    }
  }
  // TextWrapper
  .textWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;

    h1 {
      display: inline-block;
      span {
        padding: 5px 10px 5px 10px;
        display: inline-block;
        font-family: '_21_Cent';
        font-weight: lighter;
        vertical-align: middle;
        color: var(--bezh);
        background-color: var(--darkGreen);
        border-radius: 6px;
        font-weight: lighter;
        hyphens: none;
      }
    }
    .insertIcon {
      background-image: url('images/plantInsIcon.png');
      background-repeat: no-repeat;
      width: 103px;
      height: 87px;
      background-size: cover;
    }
  }
  // Tags
  .coverGrid {
    width: 100%;
    background-color: var(--primaryGreen);
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 0px;
    padding: 80px;
    border-radius: 0px 0px 32px 32px;
  }
  // Header
  header {
    grid-area: 1 / 1 / 2 / 17;
    display: flex;
    align-items: baseline;
    gap: 60px;
    justify-content: flex-start;
    a:hover {
      text-decoration: underline;
      text-underline-offset: 7px;
    }
    a {
      font-family: Manrope;
      text-decoration: none;
      font-size: 24px;
      color: var(--darkGreen);
    }
    .logo {
      img {
        height: 35px;
      }
    }
    .links {
      display: flex;
      gap: 40px;

      .links {
        a::hover {
          opacity: 75%;
        }
      }
    }
  }
  .headingTagsWrap {
    grid-column: 1/17;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    .textWrapper {
      grid-area: 1 / 1 / 2 / 14;
      margin-top: 100px;
      width: 75%;
    }
    .tags {
      grid-area: 1 / 14 / 2 / 17;
      height: 40px;
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }

  // CoverHeading
  .articleCover {
    grid-area: 2 / 1 / 2 / 17;
    height: 740px;
    margin-top: 30px;
    background-image: url('images/artticlePic.png');
    background-size: cover;
    border-radius: 20px;
  }
  .headingQuote {
    grid-column: 1/17;
    display: flex;
    margin-top: 30px;
    justify-content: space-between;

    .articleDescription {
      width: 75%;
    }
  }
  article.grid {
    display: grid;
    margin: 80px;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    background-color: var(--bezh);

    .headingText {
      grid-column: 1/7;
      height: 200px;
      display: flex;
      justify-content: space-between;

      h2 > span {
        font-family: '_21_Cent';
        font-weight: lighter;
        font-size: 54px;
      }
    }
    .articleText {
      grid-column: 8/17;
      display: flex;

      p {
        line-height: 140%;
        font-size: 30px;
      }
    }
    // Image
    .articleImage {
      grid-column: 8/17;
      margin-top: 30px;
      margin-bottom: 30px;
      display: flex;
      border-radius: 20px;
      flex-direction: column;
      gap: 15px;
      img {
        border-radius: 20px;
      }
      p {
        font-size: 21px;
      }
    }
    // Opinion
    .opinionBlock {
      grid-column: 1/17;
      padding: 30px;
      border-radius: 20px;
      margin: 50px 0px 80px 0px;
      background-color: var(--yellow);
      display: flex;
      justify-content: space-between;

      p.opinion {
        width: 56%;
        font-family: '_21_Cent';
        font-weight: lighter;
        line-height: 130%;
        font-size: 30px;
      }
    }
    // ImageDivider
    .imageDivider {
      grid-column: 1/17;
      height: 600px;
      border-radius: 20px;
      background-color: var(--primaryGreen);
      margin-top: 80px;
    }
    .adBlock {
      grid-column: 1/17;
      display: flex;
      padding: 25px;
      margin: 30px 0px 80px 0px;
      align-items: center;
      justify-content: space-between;
      border-radius: 24px;
      background-color: var(--yellow);
      .telegram {
        display: flex;
        gap: 15px;
        align-items: center;
      }
      a.sub::hover {
        opacity: 75%;
      }
      a.sub {
        background-color: var(--darkGreen);
        color: var(--bezh);
        font-family: Manrope;
        font-size: 28px;
        text-decoration: none;
        border-radius: 12px;
        padding: 20px;
      }
    }
  }
  // FormBlock
  .formBlock {
    width: 100%;
    display: grid;
    margin-top: 200px;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 0px;
    padding: 100px 0px 100px 0px;

    .asking {
      grid-column: 5/13;
      align-items: center;
      display: flex;
      gap: 25px;
      flex-direction: column;
      h1 {
        font-family: '_21_Cent';
        font-weight: lighter;
      }
      h1,
      h3 {
        text-align: center;
      }
    }
    .formWrapper {
      form {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 70px;
        input,
        button {
          border-radius: 12px;
        }
        input::placeholder {
          color: var(--darkGreen);
        }
        input {
          font-size: 28px;
          font-family: '_21_Cent';
          font-weight: lighter;
          width: 529px;
          padding: 20px 40px 20px 30px;
          color: var(--darkGreen);
          border: 3px solid var(--darkGreen);
          background: none;
        }
        button:hover {
          opacity: 75%;
          cursor: pointer;
        }
        button {
          font-family: Manrope;
          font-size: 24px;
          padding: 21px 45px;
          color: var(--darkGreen);
          background-color: var(--primaryGreen);
          border: 3px solid var(--primaryGreen);
        }
      }
    }
  }
  // Footer
  footer {
    display: flex;
    background-color: var(--darkGreen);
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    padding: 60px 80px;
    border-radius: 30px 30px 0px 0px;

    p {
      color: var(--bezh);
    }
    .people {
      display: flex;
      gap: 120px;

      .students,
      .curators {
        display: flex;
        flex-direction: column;
        gap: 5px;
        p:nth-child(1) {
          font-family: '_21_Cent';
          font-weight: lighter;
          font-size: 30px;
          margin-bottom: 10px;
        }
      }
    }
    // Social Media
    .socialMedia {
      display: flex;
      gap: 5px;
      a {
        width: 60px;
        height: 60px;
        background-size: cover;
      }
      a:nth-child(1) {
        background-image: url('images/social_telegram.svg');
      }
      a:nth-child(2) {
        background-image: url('images/social_vk.svg');
      }
      a:nth-child(3) {
        background-image: url('images/social_youTube.svg');
      }
      a:hover {
        opacity: 75%;
      }
    }
  }
}
