body.article {
  background-color: var(--white);
  font-family: 'HelveticaNeueCyr';
  margin: 0 auto;

  * {
    box-sizing: border-box;
  }
  h1 {
    font-size: 3.889vw;
    color: var(--darkGreen);

    span {
      font-family: 'Granite';
      font-size: 4.028vw;
      color: var(--darkGreen);
    }
  }
  .headerMenu {
    display: flex;
    width: 100%;

    li {
      list-style: none;
      padding: 1.736vw;

      a {
        text-decoration: none;
        color: var(--darkGreen);
      }
    }
  }
  p {
    font-size: 1.944vw;
    color: var(--darkGreen);
    line-height: 1.944vw;
  }

  // Content
  .block1 {
    display: flex;
    width: 100%;
    margin-top: 4.167vw;
    flex-direction: column;

    .wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      .headPicture {
        width: 69.444vw;
        height: 37.847vw;
        background-image: url('images/headPicture.png');
        background-size: cover;
        border-radius: 2.222vw;
        margin-left: 13.889vw;
      }
    }
    .block2 {
      padding: 0 6.944vw;
      margin-top: 4.861vw;

      .wrapperAbout {
        display: flex;

        .aboutArticle {
          width: 65%;

          p {
            margin-top: 1.736vw;
            line-height: 2.222vw;
          }
        }
        .tags {
          display: flex;
          flex-wrap: wrap;
          flex-shrink: none;
          height: 8.333vw;
          gap: 0.694vw;
          justify-content: flex-end;

          p > span {
            padding: 1.042vw 1.736vw;
            border-radius: 0.833vw;
            border: solid 0.139vw var(--darkGreen);
          }
          p:last-child {
            margin-top: 0.486vw;
          }
        }
      }
    }
  }
  hr {
    margin-top: 4.861vw;
    margin-bottom: 4.861vw;
    width: 85.417vw;
    border: 0.069vw solid;
  }
  .block3 {
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 6.944vw;
    .secondPic {
      width: 30.347vw;
      height: 31.597vw;
      background-image: url('images/cozyChair.png');
      border-radius: 2.222vw;
    }
    .moretext {
      display: flex;
      flex-direction: column;
      width: 63%;
      position: relative;

      p {
        width: 48.611vw;
        margin-top: 1.389vw;
        line-height: 2.222vw;
      }
      p > span {
        padding: 1.042vw 1.736vw;
        border-radius: 0.833vw;
        border: solid 0.139vw var(--darkGreen);
        position: absolute;
        bottom: 0;
      }
      h2 {
        font-size: 2.639vw;
        color: var(--darkGreen);
      }
    }
  }
  .txtBlock {
    margin-top: 4.167vw;
    margin-bottom: 4.167vw;
    display: flex;
    align-items: flex-end;
    .numBlock {
      margin-left: 34.028vw;
      margin-top: 4.861vw;
      margin-right: 3.167vw;

      h1 > span {
        font-size: 4.653vw;
      }
    }
    p {
      line-height: 2.222vw;
      width: 48.611vw;
    }
  }
  .frame {
    width: 78.472vw;
    height: 34.375vw;
    border: solid 0.139vw var(--darkGreen);
    border-radius: 2.222vw;
    margin: 0 6.944vw 4.167vw 6.944vw;
  }
  .picBlocks {
    display: flex;
    gap: 3.472vw;
    margin: 0 4.167vw 4.167vw 4.167vw;

    .picContainer:first-child {
      width: 30.417vw;
      height: 34.306vw;
      background-image: url('images/wood.png');
      background-size: cover;
      border-radius: 2.222vw;
    }
    .picContainer:last-child {
      width: 50.556vw;
      height: 34.306vw;
      border: 0.139vw solid var(--darkGreen);
      background-size: cover;
      border-radius: 2.222vw;
    }
  }
  .ending {
    font-family: Granite;
    text-align: center;
    margin: 10.417vw 17.361vw 0;
    font-size: 2.5vw;
    line-height: 2.708vw;
  }
  .lineWrap {
    hr {
      margin-top: 2.083vw;
      width: 62.5vw;
    }
  }
  footer {
    width: 100%;
    height: 27.778vw;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    .logo {
      font-family: Granite;
      font-size: 6.944vw;
    }
    .snowForest {
      width: 1363px;
      height: 362px;
      background-image: url('images/snowForest.png');
      position: absolute;
      bottom: 0;
      right: 30px;
    }
  }
}
