body.article {
  background-color: var(--bezh);
  margin: 0 auto;

  * {
    box-sizing: border-box;
  }
  // Fonts
  h1 {
    font-family: Manrope;
    font-weight: 600;
    font-size: 4.271vw;
    line-height: 90%;
    display: block;
    color: var(--darkGreen);
  }
  h2 {
    font-family: Manrope;
    font-weight: 600;
    font-size: 2.604vw;
    color: var(--darkGreen);
  }
  h3 {
    font-size: 2.088vw;
    font-family: Manrope;
    line-height: 120%;
    color: var(--darkGreen);

    span {
      font-family: '_21_Cent';
      font-weight: lighter;
      font-size: 2.292vw;
    }
  }
  p {
    font-family: Manrope;
    font-size: 1.458vw;
    color: var(--darkGreen);
  }
  // Tag
  p.tag > span {
    font-size: 1.146vw;
    border: 0.156vw solid var(--darkGreen);
    padding: 0.521vw 0.781vw;
    color: var(--darkGreen);
    border-radius: 0.625vw;
  }
  // Person
  .articleProfile {
    display: flex;
    align-items: center;
    width: 21%;
    gap: 6%;
    p {
      display: inline-block;
    }
    p > span {
      margin-top: 0.521vw;
      font-size: 1.094vw;
      display: inline-block;
    }
    img {
      height: 5.729vw;
      object-fit: cover;
      border-radius: 3.125vw;
    }
  }
  // TextWrapper
  .textWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.521vw;

    h1 {
      display: inline-block;
      span {
        padding: 0.26vw 0.521vw 0.26vw 0.521vw;
        display: inline-block;
        font-family: '_21_Cent';
        font-weight: lighter;
        vertical-align: middle;
        color: var(--bezh);
        background-color: var(--darkGreen);
        border-radius: 0.313vw;
        font-weight: lighter;
        hyphens: none;
      }
    }
    .insertIcon {
      background-image: url('images/plantInsIcon.png');
      background-repeat: no-repeat;
      width: 5.365vw;
      height: 4.531vw;
      background-size: cover;
    }
  }
  // Tags
  .coverGrid {
    width: 100%;
    background-color: var(--primaryGreen);
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0.781vw;
    grid-row-gap: 0px;
    padding: 4.167vw;
    border-radius: 0px 0px 1.667vw 1.667vw;
  }
  // Header
  header {
    grid-area: 1 / 1 / 2 / 17;
    display: flex;
    align-items: baseline;
    gap: 3.125vw;
    justify-content: flex-start;
    a:hover {
      text-decoration: underline;
      text-underline-offset: 0.365vw;
    }
    a {
      font-family: Manrope;
      text-decoration: none;
      font-size: 1.25vw;
      color: var(--darkGreen);
    }
    .logo {
      img {
        height: 1.823vw;
      }
    }
    .links {
      display: flex;
      gap: 2.083vw;

      .links {
        a::hover {
          opacity: 75%;
        }
      }
    }
  }
  .headingTagsWrap {
    grid-area: 1 / 1 / 2 / 17;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 2.604vw;
    .textWrapper {
      grid-area: 1 / 1 / 2 / 14;
      margin-top: 5.208vw;
      width: 75%;
    }
    .tags {
      grid-area: 1 / 14 / 2 / 17;
      height: 2.083vw;
      display: flex;
      gap: 0.521vw;
      align-items: center;
    }
  }

  // CoverHeading
  .articleCover {
    grid-area: 2 / 1 / 2 / 17;
    height: 38.542vw;
    margin-top: 1.563vw;
    background-image: url('images/artticlePic.png');
    background-size: cover;
    border-radius: 1.042vw;
  }
  .headingQuote {
    grid-column: 1/17;
    display: flex;
    margin-top: 1.563vw;
    justify-content: space-between;

    .articleDescription {
      width: 75%;
    }
  }
  article.grid {
    display: grid;
    margin: 4.167vw;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0.781vw;
    background-color: var(--bezh);

    .headingText {
      grid-column: 1/7;
      height: 10.417vw;
      display: flex;
      justify-content: space-between;

      h2 > span {
        font-family: '_21_Cent';
        font-weight: lighter;
        font-size: 2.813vw;
      }
    }
    .articleText {
      grid-column: 8/17;
      display: flex;

      p {
        line-height: 140%;
        font-size: 1.563vw;
      }
    }
    // Image
    .articleImage {
      grid-column: 8/17;
      margin-top: 1.563vw;
      margin-bottom: 1.563vw;
      display: flex;
      border-radius: 1.042vw;
      flex-direction: column;
      gap: 0.781vw;
      img {
        border-radius: 1.042vw;
      }
      p {
        font-size: 1.094vw;
      }
    }
    // Opinion
    .opinionBlock {
      grid-column: 1/17;
      padding: 1.563vw;
      border-radius: 1.042vw;
      margin: 2.604vw 0px 4.167vw 0px;
      background-color: var(--yellow);
      display: flex;
      justify-content: space-between;

      p.opinion {
        width: 56%;
        font-family: '_21_Cent';
        font-weight: lighter;
        line-height: 130%;
        font-size: 1.563vw;
      }
    }
    // ImageDivider
    .imageDivider {
      grid-column: 1/17;
      height: 31.25vw;
      border-radius: 1.042vw;
      background-color: var(--primaryGreen);
      margin-top: 4.167vw;
      background-image: url('images/imageDivider.svg');
      background-size: cover;
      background-repeat: repeat;
    }
    .adBlock {
      grid-column: 1/17;
      display: flex;
      padding: 1.302vw;
      margin: 1.563vw 0px 4.167vw 0px;
      align-items: center;
      justify-content: space-between;
      border-radius: 1.25vw;
      background-color: var(--yellow);
      .telegram {
        display: flex;
        gap: 0.781vw;
        align-items: center;
      }
      a.sub::hover {
        opacity: 75%;
      }
      a.sub {
        background-color: var(--darkGreen);
        color: var(--bezh);
        font-family: Manrope;
        font-size: 1.458vw;
        text-decoration: none;
        border-radius: 0.625vw;
        padding: 1.042vw;
      }
    }
  }
  // FormBlock
  .formBlock {
    width: 100%;
    display: grid;
    margin-top: 10.417vw;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0.781vw;
    grid-row-gap: 0px;
    padding: 5.208vw 0px 5.208vw 0px;

    .asking {
      grid-column: 5/13;
      align-items: center;
      display: flex;
      gap: 1.302vw;
      flex-direction: column;
      h1 {
        font-family: '_21_Cent';
        font-weight: lighter;
      }
      h1,
      h3 {
        text-align: center;
      }
    }
    .formWrapper {
      form {
        display: flex;
        align-items: center;
        gap: 0.781vw;
        margin-bottom: 3.646vw;
        input,
        button {
          border-radius: 0.625vw;
        }
        input::placeholder {
          color: var(--darkGreen);
        }
        input {
          font-size: 1.458vw;
          font-family: '_21_Cent';
          font-weight: lighter;
          width: 25.49vw;
          padding: 1.042vw 2.083vw 1.042vw 1.563vw;
          color: var(--darkGreen);
          border: 0.156vw solid var(--darkGreen);
          background: none;
        }
        button:hover {
          opacity: 75%;
          cursor: pointer;
        }
        button {
          font-family: Manrope;
          font-size: 1.25vw;
          padding: 1.094vw 2.344vw;
          color: var(--darkGreen);
          background-color: var(--primaryGreen);
          border: 0.156vw solid var(--primaryGreen);
        }
      }
    }
  }
  // Footer
  footer {
    display: flex;
    background-color: var(--darkGreen);
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    padding: 3.125vw 4.167vw;
    border-radius: 1.563vw 1.563vw 0px 0px;

    p {
      color: var(--bezh);
    }
    .people {
      display: flex;
      gap: 6.25vw;

      .students,
      .curators {
        display: flex;
        flex-direction: column;
        gap: 0.26vw;
        p:nth-child(1) {
          font-family: '_21_Cent';
          font-weight: lighter;
          font-size: 1.563vw;
          margin-bottom: 0.521vw;
        }
      }
    }
    // Social Media
    .socialMedia {
      display: flex;
      gap: 0.26vw;
      a {
        width: 3.125vw;
        height: 3.125vw;
        background-size: cover;
      }
      a:nth-child(1) {
        background-image: url('images/social_telegram.svg');
      }
      a:nth-child(2) {
        background-image: url('images/social_vk.svg');
      }
      a:nth-child(3) {
        background-image: url('images/social_youTube.svg');
      }
      a:hover {
        opacity: 75%;
      }
    }
  }
}
