@font-face {
  font-family: 'Granite';
  src: url('fonts/Granite-Italic.woff2') format('woff2'),
    url('fonts/Granite-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
    url('fonts/HelveticaNeueCyr-Roman.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('fonts/HelveticaNeueCyr-Medium.woff2') format('woff2'),
    url('fonts/HelveticaNeueCyr-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&family=Manrope:wght@500;600&display=swap');
