html {
  scroll-behavior: smooth;
}
body.index {
  background-color: var(--bezh);
  * {
    box-sizing: border-box;
  }
  // Fonts
  h1 {
    font-family: Manrope;
    font-weight: 600;
    font-size: 4.067vw;
    line-height: 90%;
    display: block;
    color: var(--darkGreen);
  }
  h2 {
    font-size: 2.188vw;
    font-family: Manrope;
    font-weight: 31.25vw;
    color: var(--bezh);
  }
  .accent {
    font-family: '_21_Cent';
    font-size: 4.688vw;
    font-weight: lighter;
  }
  p {
    font-family: Manrope;
    font-size: 1.458vw;
    font-weight: 26.042vw;
    line-height: 120%;
    color: var(--darkGreen);
  }

  // Tags
  p > span {
    font-size: 1.146vw;
    border: 0.154vw solid var(--bezh);
    padding: 0.521vw 0.781vw;
    color: var(--bezh);
    border-radius: 0.625vw;
  }
  // Icon
  .insertIcon {
    background-image: url('images/treeInsIcon.svg');
    background-repeat: no-repeat;
    width: 4.167vw;
    height: 4.531vw;
    background-size: cover;
  }
  // Links
  header {
    a:hover {
      text-decoration: underline;
      text-underline-offset: 0.365vw;
    }
  }
  a {
    font-family: Manrope;
    text-decoration: none;
    font-size: 1.25vw;
    color: var(--darkGreen);
  }
  a.button {
    padding: 1.302vw 2.344vw;
    font-size: 1.458vw;
    display: inline-block;
    font-family: Manrope;
    font-weight: 500;
    border-radius: 0.781vw;
    background-color: var(--bezh);
    border: 0.154vw solid var(--darkGreen);
  }
  a.button:hover {
    opacity: 75%;
    transition: all 0.2s;
  }
  // TextWrapper
  .textWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.521vw;

    h1 {
      display: inline-block;
      span {
        padding: 0.26vw 0.521vw 0.26vw 0.521vw;
        display: inline-block;
        font-family: '_21_Cent';
        vertical-align: middle;
        color: var(--bezh);
        background-color: var(--darkGreen);
        border-radius: 0.313vw;
        font-weight: lighter;
      }
    }
  }
  .spaceBetween {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;

    a {
      text-decoration: underline;
      text-underline-offset: 0.313vw;
    }
  }
  // Section main
  section.main {
    width: 100%;
    padding: 4.167vw;
    display: flex;
    flex-direction: column;
    gap: 2.083vw;
    background-color: var(--primaryGreen);
    header {
      width: 100%;
      display: flex;
      align-items: baseline;
      margin-bottom: 1.823vw;
      justify-content: space-between;
      .logo {
        img {
          height: 1.823vw;
        }
      }
      .links {
        display: flex;
        gap: 2.083vw;
      }
    }
    .textWrapper {
      width: 69.521vw;
    }
    .contentImage {
      width: 100%;
      height: 39.833vw;
      background-image: url('images/sectionMainImage.png');
      border-radius: 1.563vw;
      background-size: cover;
      background-position: center;
    }
  }
  // Section About
  section.about {
    display: flex;
    background-color: var(--bezh);
    background-image: url('images/aboutTrees.png');
    height: 50.87vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    .wrap {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2.604vw;

      .logo {
        img {
          height: 4.167vw;
        }
      }
      .textWrapper {
        width: 75.521vw;
        justify-content: center;

        .insertIcon {
          background-image: url('images/pongInsIcon.svg');
          height: 4.896vw;
          width: 4.115vw;
        }
      }
    }
  }
  // Section Articles
  section.article {
    display: flex;
    background-color: var(--primaryGreen);
    padding: 5vw;
    gap: 5.208vw;
    border-radius: 1.667vw;

    .textWrapper {
      width: 36.458vw;
      align-items: flex-start;

      .insertIcon {
        height: 4.219vw;
        width: 4.635vw;
        background-image: url('images/cloudsInsIcon.svg');
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
    .articleCard {
      width: 45vw;
      height: 43.042vw;
      background-image: url('images/articlePic.png');
      background-size: 105%;
      border-radius: 1.458vw;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      justify-content: flex-end;

      .cardInfo {
        background-color: var(--darkGreen);
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.302vw;
        border-radius: 0 0 1.354vw 1.354vw;
        padding: 1.302vw 1.563vw;
        .tagLine {
          display: flex;
          gap: 0.521vw;
        }
      }
    }
    .description {
      width: 32.5vw;

      p {
        margin-top: 2.083vw;
        margin-bottom: 4.688vw;
      }
      a.button:hover {
        text-decoration: none;
        opacity: 75%;
      }
    }
  }
  section.ideas {
    display: flex;
    flex-direction: column;
    .cardHeading {
      padding: 3.125vw;
      display: flex;
      flex-direction: column;
      gap: 2.604vw;
      margin-bottom: 3.125vw;
      background-color: var(--bezh);

      .textWrapper {
        margin: 0 auto;
        width: 33.854vw;

        .insertIcon {
          width: 4.375vw;
          height: 4.375vw;
          background-size: cover;
          background-image: url('images/sparksInsIcon.svg');
        }
      }
      .ideasCard {
        width: 100%;
        height: 46.354vw;
        background-color: var(--darkGreen);
        border-radius: 1.563vw;
        background-image: url('images/ideasPic.png');
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding: 1.302vw;

        .cardInfo {
          width: 44.271vw;
          align-items: center;
          display: flex;
          flex-direction: column;
          gap: 1.042vw;

          h2 {
            text-align: center;
          }

          .tagLine {
            display: flex;
            gap: 0.781vw;
          }
        }
      }
    }

    .ideasBlock {
      width: 100%;
      background-image: url('images/flowersBg.png');
      background-color: var(--bezh);
      height: 36.719vw;
      background-position: bottom;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .description {
      margin-left: 11.458vw;
      padding-top: 2.604vw;
      p {
        width: 33.333vw;
        margin-top: 1.563vw;
        margin-bottom: 3.646vw;
      }
      a.button {
        background-color: var(--primaryGreen);
      }
    }
  }
  section.card {
    background-color: var(--primaryGreen);
    background-image: url('images/bgCloudsQa.svg');
    background-repeat: no-repeat;
    background-position: 2.042vw 1.51vw;
    border-radius: 1.563vw;
    padding: 6.25vw;
    display: flex;
    position: relative;

    .bikeQa {
      position: absolute;
      background-image: url('images/bikeQa.svg');
      background-size: cover;
      background-repeat: no-repeat;
      width: 29.188vw;
      height: 19.302vw;
      bottom: 2.396vw;
      right: 3.333vw;
    }
    .qaWrap {
      display: flex;
      justify-content: center;
      gap: 5.208vw;
      .description {
        width: 37.5vw;

        p {
          margin-top: 2.083vw;
          margin-bottom: 4.688vw;
        }
      }
      .qaCard {
        width: 28.646vw;
        height: 41.146vw;
        background-color: var(--bezh);
        padding: 1.302vw;
        position: relative;
        display: flex;
        flex-direction: column;
        border-radius: 1.458vw;
        margin-left: 13.021vw;

        .qaImage {
          background-image: url('images/sunsetQa.svg');
          width: 21.458vw;
          height: 26.146vw;
          position: absolute;
          background-repeat: no-repeat;
          background-size: cover;
          bottom: 2.083vw;
          left: 3.646vw;
        }
        .cardInfo {
          display: flex;
          flex-direction: column;
          gap: 1.302vw;
          h2,
          p > span {
            color: var(--darkGreen);
          }
          p > span {
            border: 0.154vw solid var(--darkGreen);
          }

          .tagLine {
            display: flex;
            gap: 0.781vw;
          }
        }
      }
    }
  }
  // SectionForm
  section.form {
    background-color: var(--bezh);
    padding-top: 4.167vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2.604vw;

    .textWrapper {
      width: 55.99vw;
      height: 13.021vw;
      justify-content: center;
    }
    .insertIcon {
      background-image: url('images/insIconFlower.svg');
      width: 5vw;
      height: 5vw;
    }
    .formWrapper {
      form {
        display: flex;
        align-items: center;
        gap: 0.781vw;
        margin-bottom: 3.646vw;
        input,
        button {
          border-radius: 0.625vw;
        }
        input::placeholder {
          color: var(--darkGreen);
        }
        input {
          font-size: 1.458vw;
          font-family: '_21_Cent';
          width: 27.552vw;
          padding: 1.042vw 2.083vw 1.042vw 1.563vw;
          color: var(--darkGreen);
          border: 0.156vw solid var(--darkGreen);
          background: none;
        }
        button:hover {
          opacity: 75%;
          cursor: pointer;
        }
        button {
          font-family: Manrope;
          font-size: 1.25vw;
          padding: 1.094vw 2.344vw;
          color: var(--darkGreen);
          background-color: var(--primaryGreen);
          border: 0.156vw solid var(--primaryGreen);
        }
      }
    }
    footer {
      display: flex;
      background-color: var(--darkGreen);
      width: 100%;
      justify-content: space-between;
      align-items: flex-end;
      padding: 3.125vw 4.167vw;
      border-radius: 1.563vw 1.563vw 0px 0px;

      p {
        color: var(--bezh);
      }
      .people {
        display: flex;
        gap: 6.25vw;

        .students,
        .curators {
          display: flex;
          flex-direction: column;
          gap: 0.26vw;
          p:nth-child(1) {
            font-family: '_21_Cent';
            font-weight: lighter;
            font-size: 1.563vw;
            margin-bottom: 0.521vw;
          }
        }
      }
      // Social Media
      .socialMedia {
        display: flex;
        gap: 0.365vw;
        a {
          width: 3.125vw;
          height: 3.125vw;
          background-size: cover;
        }
        a:nth-child(1) {
          background-image: url('images/social_telegram.svg');
        }
        a:nth-child(2) {
          background-image: url('images/social_vk.svg');
        }
        a:nth-child(3) {
          background-image: url('images/social_youTube.svg');
        }
        a:hover {
          opacity: 75%;
        }
      }
    }
  }
}
