@media only screen and (max-width: 1440px) {
  .A_Tag {
    font-size: 14px;
  }
  h1.A_TitleManrope {
    font-size: 60px;

    em.Accent {
      font-family: '_21_Cent';
      font-size: 66px;
      line-height: 85%;
    }
  }
  .A_SubCard {
    font-size: 1.5rem;
    line-height: 120%;
    em {
      font-size: 26px;
    }
  }
  h1.A_TitleAccent {
    font-size: 4.25rem;
    font-family: '_21_Cent';
    color: var(--darkGreen);
    font-weight: lighter;
  }
  // Icons
  .Q_IconMedium {
    width: 65px;
    height: 60px;
    background-size: contain;
  }
  //   Buttons
  //   HomePage
  section.S_FirstScreen {
    width: 1260px;

    .O_WelcomeScreen {
      height: 550px;
    }
  }
  .W_NewArticleHeading {
    width: 700px;
  }
  .W_HeadingArticles {
    width: 1240px;
  }
  .W_AdvicesArticles {
    width: 1240px;
    margin: 0 auto;
  }
  .Q_ImageArticleNew {
    height: 400px;
  }
  //   CardsResposnsive
  .O_ArticleWide {
    height: 480px;
  }
  .O_ArticleIdeas {
    height: 480px;
  }
  .O_QaCard {
    width: 286px;
  }
  .O_CardArticleBig {
    width: 612px;
  }
  .M_AdviceCard {
    width: 403px;
    height: 170px;
  }
  // QaArticles
  .W_QaCards {
    width: 1240px;
  }
  // ArticleIndex
  .Q_PersonArticlePic {
    width: 72px;
    height: 72px;
  }
  .S_ArticlePreview {
    width: 1240px;
  }
  .A_ArticleDescription {
    h3 {
      font-size: 24px;
      color: var(--darkGreen);
      line-height: 120%;

      em {
        font-size: 28px;
        font-family: '_21_Cent';
      }
    }
  }
  p.A_NameDescArticle {
    font-size: 16px;
    color: var(--darkGreen);
  }
  p.A_AuthorArticle {
    font-size: 24px;
    color: var(--darkGreen);
  }
  // ArticleHtml_TextBlock
  .A_MainTextArticle {
    font-size: 1.25rem;
  }
  // ArticleHtml_BreakerText
  h3.A_BreakerText {
    font-size: 24px;
  }
  .A_BreakerLineText {
    font-size: 20px;
  }
  // Footer
  .W_FooterWithout {
    width: 1240px;
  }

  .W_Authors {
    gap: 1.2rem;
  }
  p.AuthorName {
    font-size: 1rem;
  }

  .A_FooterCategoryList {
    font-size: 1.2rem;
  }

  .O_CardArticle {
    width: 403px;
  }
  .S_ArticlesHeading {
    padding: 3.125rem 0px;
  }
  .S_NewArticle {
    width: 1240px;
    .Q_ImageArticleNew {
      height: 400px;
      width: 535px;
    }
    .O_NewArticle {
      width: 700px;
    }
  }
  .O_ArticleCardLong {
    height: 170px;
  }
  .C_AllArticles {
    width: 1240px;
  }
  // Qa
  .C_AllQaCards {
    width: 1240px;
  }

  .C_AllIdeasArticles {
    width: 1240px;
  }
  //   IdeasArticle
  .W_ArticleHead {
    .M_IconHeading,
    .A_AdviceDescriptionText {
      width: 800px;
    }
  }
  .W_Phreference {
    width: 1240px;
  }
  .W_WholeArticle {
    width: 1240px;
  }
  .W_WholeIdeaArticle {
    width: 1240px;
    .A_AdviceIllustration {
      width: 300px;
      height: 240px;
    }
    .tall {
      width: 300px;
      height: 320px;
    }
    .A_AdviceDescriptionText {
      font-size: 28px;
    }
    .A_AdviceHeading {
      font-size: 2.5rem;

      em {
        font-size: 3.125rem;
      }
    }
  }
  .M_AdviceBreaker {
    .A_DividerAdviceHeading {
      font-size: 2rem;
    }
    .A_BreakerText {
      font-size: 1.5rem;
    }
  }
  .A_AdviceImageSquare,
  .A_AdviceImage {
    height: 450px;
  }
  //   QA-ArticleHtml
  .S_QaArticle {
    .A_QaArticleHeading {
      font-size: 2.5rem;
    }
  }
}
