// Desktop
@media only screen and (max-width: 1720px) and (min-width: 1300px) {
  .A_Tag {
    font-size: 14px;
  }
  header.O_Header {
    // width: 1260px;
  }
  .W_ArticleSlider {
    width: 1260px;
  }
  h1.A_TitleManrope {
    font-size: 60px;

    em.Accent {
      font-family: '_21_Cent';
      font-size: 66px;
      line-height: 85%;
    }
  }
  .A_SubCard {
    font-size: 1.5rem;
    line-height: 120%;
    width: 100%;
    em {
      font-size: 26px;
    }
  }
  h1.A_TitleAccent {
    font-size: 4.25rem;
    font-family: '_21_Cent';
    color: var(--darkGreen);
    font-weight: lighter;
  }
  // Icons
  .Q_IconMedium {
    width: 65px;
    height: 60px;
    background-size: contain;
  }
  //   Buttons
  //   HomePage
  section.S_FirstScreen {
    width: 1260px;

    .O_WelcomeScreen {
      height: 530px;
    }
  }
  .W_NewArticleHeading {
    width: 700px;
  }
  .W_HeadingArticles {
    width: 1240px;
  }
  .W_AdvicesArticles {
    width: 1240px;
    margin: 0 auto;
  }
  .Q_ImageArticleNew {
    height: 400px;
  }
  //   CardsResposnsive
  .O_ArticleWide {
    height: 480px;
  }
  .O_ArticleSlider {
    height: 480px;
    width: 100%;
  }
  .O_IdeaBigCard {
    width: 612px;
    height: 415px;
    background-size: 85%;
    background-position: 120% 100%;
  }
  .ray_Bg {
    background-size: 65%;
    background-position: 90% 100%;
  }
  .Q_DrinksIdeas {
    background-size: 52%;
  }
  .Q_VegetablesIdeas {
    background-size: 80%;
  }
  .Q_RaindropsIdeas {
    background-size: 60%;
  }
  .O_ArticleIdeas {
    height: 480px;
  }
  .O_QaCard {
    width: 298px;
  }
  .O_CardArticleBig {
    width: 620px;
    height: 580px;
  }
  .O_CardHigh {
    width: 402px;
    height: 316px;
  }
  .M_AdviceCard {
    width: 402px;
    height: 170px;
  }
  .W_TwoIdeasArticle {
    width: 612px;
    .O_CardHigh {
      width: 612px;
      height: 316px;
    }
    .M_AdviceCard {
      width: 612px;
      align-items: center;
      h2 {
        text-align: center;
      }
    }
  }
  // QaArticles
  .W_QaCards {
    width: 1240px;
  }
  // ArticleIndex
  .O_HeadingArticle {
  }
  .Q_PersonArticlePic {
    width: 72px;
    height: 72px;
  }
  .S_ArticlePreview {
    width: 1240px;
  }
  .A_ArticleDescription {
    h3 {
      font-size: 24px;
      color: var(--darkGreen);
      line-height: 120%;

      em {
        font-size: 28px;
        font-family: '_21_Cent';
      }
    }
  }
  p.A_NameDescArticle {
    font-size: 16px;
    color: var(--darkGreen);
  }
  p.A_AuthorArticle {
    font-size: 24px;
    color: var(--darkGreen);
  }
  // ArticleHtml_TextBlock
  .A_MainTextArticle {
    font-size: 1.25rem;
  }
  // ArticleHtml_BreakerText
  h3.A_BreakerText {
    font-size: 24px;
  }
  .A_BreakerLineText {
    font-size: 20px;
  }
  // Footer
  .W_FooterWithout {
    width: 1240px;
  }

  .W_Authors {
    gap: 1.2rem;
  }
  p.AuthorName {
    font-size: 1rem;
  }

  .A_FooterCategoryList {
    font-size: 1.2rem;
  }

  .O_CardArticle {
    width: 403px;
    height: 460px;
  }
  .S_ArticlesHeading {
    padding: 3.125rem 0px;
  }
  .S_NewArticle {
    width: 1240px;
    .Q_ImageArticleNew {
      height: 400px;
      width: 535px;
    }
    .O_NewArticle {
      width: 700px;
    }
  }
  .O_ArticleCardLong {
    height: 170px;
  }
  .C_AllArticles {
    width: 1260px;
  }
  // Qa
  .C_AllQaCards {
    width: 1240px;
  }

  .C_AllIdeasArticles {
    width: 1240px;
    .O_CardHigh:nth-child(6) {
      background-size: 60%;
      background-position: right 14px;
    }
    .O_CardHigh:nth-child(7) {
      background-size: 86%;
      background-position: right 37px;
    }
  }
  //   IdeasArticle
  .W_ArticleHead {
    .M_IconHeading,
    .A_AdviceDescriptionText {
      width: 80%;
    }
  }
  .W_Phreference {
    width: 1240px;
  }
  .W_WholeArticle {
    width: 1240px;
    margin-bottom: 8rem;
  }
  .W_WholeIdeaArticle {
    width: 1240px;
    .A_AdviceIllustration {
      width: 300px;
      height: 240px;
    }
    .tall {
      width: 300px;
      height: 320px;
    }
    .A_AdviceDescriptionText {
      font-size: 28px;
    }
    .A_AdviceHeading {
      font-size: 2.5rem;

      em {
        font-size: 3.125rem;
      }
    }
  }
  .M_AdviceBreaker {
    .A_DividerAdviceHeading {
      font-size: 2rem;
    }
    .A_BreakerText {
      font-size: 1.5rem;
    }
  }
  .A_AdviceImageSquare,
  .A_AdviceImage {
    height: 450px;
  }
  //   QA-ArticleHtml
  .S_QaArticle {
    .A_QaArticleHeading {
      font-size: 2.5rem;
    }
  }
}
// Laptop
@media only screen and (max-width: 1919px) and (min-width: 1721px) {
  header.O_Header {
    // width: 1440px;
  }
  .S_ArticlePreview {
    width: 1440px;
  }
  .W_WholeArticle {
    width: 1440px;
  }
}
// Mobile
@media only screen and (max-width: 428px) {
  //  Typography
  h1.A_TitleManrope {
    font-size: 6.542vw;

    em.Accent {
      font-size: 7vw;
    }
  }
  h1.A_TitleAccent {
    font-size: 7.82vw;
  }
  .M_ArticleInfo {
    align-items: center;
  }
  .A_SubCard {
    font-size: 5.16vw;
    width: 90%;

    em {
      font-size: 6vw;
    }
  }
  p.A_TextMain {
    font-size: 0.875rem;
    width: 100%;
  }
  // Tags
  .A_Tag {
    font-size: 2.736vw;
    border: 1px solid var(--darkGreen);
    padding: 6px;
    border-radius: 4px;
  }

  // Icons
  .Q_IconMedium {
    width: 8.889vw;
    height: 8.889vw;
  }
  // Header
  .A_NavigationLogo {
    width: 147px;
    height: 38px;
  }
  header.O_Header {
    width: 100%;
    padding: 3rem 0.45rem 0rem;
    border: 0;

    .W_Header {
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      border-bottom: 0px;
      .M_HeaderCategories {
        justify-content: space-between;
      }
      .A_HeaderCategory {
        font-size: 3.738vw;
      }
    }
  }
  section.S_FirstScreen {
    width: 94%;
    .O_WelcomeScreen {
      width: 100%;
      padding: 0 1rem;
      height: 359px;
      border-radius: 16px;
      background-image: url('images/Q_MobileHome.png');
      background-position: bottom;
      background-size: contain;
      background-color: var(--blue);

      .M_IconHeading {
        width: 100%;
      }
    }
  }
  // IconHeading
  .M_IconHeading,
  .M_IconHeadingLeft {
    gap: 5px;
  }
  // Links{
  .A_LinkArticleNavigation {
    border-bottom: 0px;
    padding: 0;
    .A_LinkCategory {
      display: none;
    }
    .Q_ArrowForward {
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  section.S_ArticlesHeading {
    background-color: var(--darkerBezh);
    padding: 2rem 1rem;
    margin-top: 2rem;
    .W_HeadingArticles {
      width: 95%;
      .W_TitleLink {
        width: 100%;
      }
      .C_ArticlesRow {
        flex-direction: column;
      }
    }
  }

  // NewArticle
  .S_NewArticle {
    width: 100%;
    flex-direction: column;
    margin: 3rem auto 4rem;
    padding: 0 1rem;
    gap: 2rem;

    .Q_ImageArticleNew {
      order: 1;
      height: 268px;
      .Q_IconDecoration {
        width: 105px;
        height: 105px;
        z-index: 0;
      }
      .Q_IconDecoration:nth-child(2) {
        right: 10vw;
        left: 60vw;
        bottom: -11vw;
        z-index: 0;
        display: none;
      }
      .Q_IconDecoration:nth-child(3) {
        top: -9.25vw;
        right: 60.444vw;
        z-index: 0;
        display: none;
      }
    }
    .O_NewArticle {
      order: 2;
      gap: 2rem;
      .W_NewArticleHeading {
        .M_IconHeadingLeft {
          width: 80%;
          margin-bottom: 1rem;
        }
      }
    }
  }
  .A_ButtonPrimary {
    font-size: 14px;
    padding: 1.3rem 0.75rem;
  }
  .W_TitleLink {
    margin-bottom: 1rem;
    align-items: flex-start;
  }
  .rainingBg {
    background-image: url('images/rainingMobile.png');
  }
  // IdeasArticles
  section.S_AdvicesArticles {
    width: 100%;
    margin: 3rem auto 3rem;
    padding: 1rem;
    gap: 2rem;
    padding: 1rem 1rem 3rem;
    border-radius: 1.5rem;
    background-color: var(--darkerBezh);
    .W_AdvicesArticles {
      width: 95%;
      .W_TitleLink {
        .M_IconHeadingLeft {
          width: 70%;
          .A_TitleAccent {
            order: 2;
          }
          .Q_IconMedium {
            order: 1;
          }
        }
      }
      .C_SmallArticleCards {
        flex-direction: column;

        .M_AdviceCard:nth-child(3) {
          display: none;
        }
      }
    }
  }
  // QaCards
  .S_QaCards {
    width: 100%;
    padding: 1rem;
    .W_QaCards {
      flex-direction: column;
      width: 95%;

      .W_TitleLink {
        .M_IconHeadingLeft {
          width: 77%;
        }
      }
      .C_QaCards {
        flex-wrap: wrap;
        gap: 8px;
      }
    }
  }
  // Footer
  .S_Footer {
    flex-direction: column;
    height: auto;
    padding: 2rem 0 3.5rem;
    border-radius: 1.5rem 1.5rem 0 0;

    .W_FooterWithout {
      gap: 6rem;
      width: 100%;
      padding: 1rem;
      .W_FooterCategories {
        flex-wrap: wrap;
      }
      .A_FooterCategoryList {
        font-size: 1.2rem;
      }
      flex-direction: column;
      .O_FooterCategoriesForm {
        width: 100%;
        .A_SubscriptionForm {
          display: none;
        }
      }
    }
    .W_FooterNamesSocialLogo {
      justify-content: space-between;
      .W_Authors {
        order: 2;
      }
      .M_FooterLogoSocial {
        order: 1;
      }
      .M_FooterLogoSocial {
        gap: 1.5rem;
      }
      .W_Authors {
        .W_FooterNamesList:nth-child(1) {
          display: none;
        }
        .W_FooterNamesList:nth-child(2) {
          display: none;
        }
      }
    }
  }
  // CardsDesicription
  .M_ArticleInfo {
    gap: 0.3rem;
  }
  // MobileCards
  .W_ArticleSlider {
    width: 100%;
    padding: 1rem;
    height: 100vw;
  }
  .swiper-slide {
    .O_ArticleSlider {
      height: 100vw;
      .M_ArticleInfo {
        width: 100%;
        color: red;
      }
    }
  }

  .O_CardArticleBig {
    width: 100%;
    gap: 1rem;
  }
  .O_CardHigh {
    height: 240px;
    width: 100%;
  }
  .O_CardArticle {
    width: 100%;
    height: auto;
    img {
      border-radius: 0.5rem;
    }
  }
  .O_IdeaBigCard {
    height: 360px;
    background-size: auto 65%;
    .M_LongArticleHeading {
      width: 100%;
      .A_SubCard {
        order: 2;
      }
      .M_TagLine {
        order: 1;
      }
    }
  }
  .O_ArticleIdeas {
    height: 360px;
  }
  .O_QaCard {
    width: 48.7%;
    height: 312px;
    border-radius: 8px;
    padding: 3.8vw 0;
    border-radius: 8px;
    padding: 0.8rem 0;

    .Q_QaIconArticle {
      width: 39.146vw;
      height: 39.146vw;
    }
    .A_SubCard {
      font-size: 4.444vw;
    }
  }
  .O_ArticleWide {
    height: 360px;
    background-position: bottom;
    background-size: 100%;
    align-items: flex-start;
    padding-top: 1rem;

    .M_ArticleInfo {
      width: 80%;
    }
  }
  .M_AdviceCard {
    width: 100%;
    height: 150px;

    .A_SubCard {
      width: 83%;
    }
  }
  // IdeasPage
  .W_ArticleSlider {
    padding: 0 1rem;
    margin-top: 2rem;
  }
  .Q_PersonArticlePic {
    width: 60px;
    height: 60px;
  }
  .O_ArticleIdeas {
    height: 100vw;
    background-position: bottom;
    background-size: 85%;
    align-items: flex-start;
    padding-top: 1rem;

    .M_ArticleInfo {
      width: 80%;
    }
  }
  .С_ArticleCategoryTags {
    margin: 3rem auto 1.5rem;
  }
  .A_FilterTag {
    font-size: 3.736vw;
  }
  .C_AllIdeasArticles {
    width: 100%;
    row-gap: 0.75rem;
    padding: 1rem;
    .O_CardHigh:nth-child(6) {
      background-size: 52%;
      background-position: 153px;
    }
    .O_CardHigh:nth-child(7) {
      background-size: 74%;
      background-position: 79px;
    }
    .O_CardHigh:nth-child(8) {
      background-size: 54%;
      background-position: 182px;
    }
    .W_TwoIdeasArticle {
      width: 100%;
      .O_CardHigh {
        width: 100%;
        height: 300px;
        background-size: 80%;

        .M_LongArticleHeading {
          height: auto;
          order: 2;
          width: 90%;
        }
        .M_TagLine {
          order: 1;
        }
      }
      .M_AdviceCard {
        width: 100%;
        min-height: 160px;
      }
    }
  }
  // Articles
  .C_AllArticles {
    width: 100%;
    row-gap: 0.8rem;
    padding: 2rem 1rem 3rem;
    border-radius: 1.5rem;
    margin-bottom: 4rem;
    flex-direction: column;
    background-color: var(--darkerBezh);

    a.O_CardArticle:nth-child(7) {
      background-color: var(--bezh);
    }
    a.O_CardArticle:nth-child(8) {
      background-color: var(--bezh);
    }
    a.O_CardArticle:nth-child(9) {
      background-color: var(--bezh);
    }

    .O_ArticleWide:nth-child(4) {
      background-image: url('images/mayChillMobile.png');
      background-position: center 150px;
      background-size: 100%;
    }
  }
  // QAArticles
  .C_AllQaCards {
    width: 100%;
    padding: 0 1rem;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
  }
  // IndexHtml
  p.A_AuthorArticle {
    font-size: 5vw;
  }
  p.A_NameDescArticle {
    font-size: 12px;
  }
  .Q_ImageWide {
    height: 72.222vw;

    img {
      border-radius: 1rem;
    }
  }
  .S_ArticlePreview {
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    row-gap: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 4rem;
    border-radius: 0 0 1rem 1rem;
    .O_ArticleAuthorDescription {
      gap: 1rem;
      p.A_NameDescArticle {
        font-size: 14px;
      }
      flex-direction: column;
    }
    .M_PersonProfileArticle {
      display: flex;
      width: 100%;
    }
    .A_ArticleDescription {
      width: 100%;
      h3 {
        font-size: 4.112vw;

        em {
          font-size: 4.6vw;
        }
      }
    }

    .O_HeadingArticle {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 1rem;
      .M_IconHeadingLeft {
        width: 100%;
        order: 2;
      }
      .M_TagLine {
        order: 1;
        width: 100%;
        justify-content: left;
      }
    }
  }
  .W_MainTexts {
    width: 100%;
    gap: 1rem;
  }
  .A_MainTextArticle {
    font-size: 3.289vw;
  }
  .W_WholeArticle {
    width: 100%;
    padding: 1rem;
    gap: 2rem;

    .O_ArticleBlock:nth-child(6) {
      .A_MainTextArticle {
        width: 100%;
      }
    }
    .A_MainTextArticle:nth-child(3) {
      width: 100%;
      margin-right: 0;
    }
    .W_MainTexts:nth-child(3) {
      width: 100%;
      margin-right: 0;
    }
    .O_ArticleBlock {
      .M_SubheadText {
        flex-direction: column;
        gap: 1rem;
        .A_SubHeadArticle {
          width: 100%;
        }
      }
      .Q_ArticlePicture {
        height: 270px;
        width: 100%;
        figcaption.A_PhotoDescprition {
          font-size: 12px;
          margin-top: 0.5rem;
        }

        img {
          border-radius: 16px;
        }
      }
    }
    .O_BreakerOpinion {
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
      margin-top: 2rem;

      .M_PersonProfileArticle {
        width: 100%;
      }
      .A_BreakerText {
        font-size: 16px;
        width: 100%;
      }
    }
  }
  .S_Phreference {
    width: 100%;
    padding: 1rem;
    padding-top: 2rem;
    border-radius: 16px;
    margin-bottom: 4rem;
    .W_Phreference {
      width: 100%;
      gap: 1rem;

      .C_ArticlesRow {
        flex-direction: column;
      }
    }
  }
  .O_SocialMediaBreaker {
    flex-direction: column;
    gap: 1rem;
    padding: 0.75rem;

    .M_BreakerIconText {
      .A_BreakerLineText {
        font-size: 16px;
      }
    }
  }
  a.A_ActionArticle {
    max-width: 162px;
    height: 48px;
    border-radius: 8px;
    font-size: 14px;
    margin-left: 20%;
  }
  // IdeasArticleMobile
  .W_WholeIdeaArticle {
    width: 100%;
    padding: 1rem;
    gap: 2rem;

    .W_ArticleHead {
      align-items: flex-start;
      margin-top: 2rem;
      gap: 0.75rem;
      padding-bottom: 3rem;
      margin-bottom: 1rem;
      .M_IconHeading {
        width: 100%;
        justify-content: flex-start;
      }
      .A_AdviceDescriptionText {
        font-size: 16px;
        width: 100%;
        text-align: left;
      }
    }
    .A_AdviceImage {
      height: 72.222vw;
      width: 100%;
    }
    .M_AdviceBreaker {
      .A_DividerAdviceHeading {
        font-size: 18px;
        line-height: 120%;
        text-align: left;
        width: 100%;
      }
    }
    .A_BreakerText {
      font-size: 16px;
      text-align: left;
      width: 100%;
    }
  }
  .O_AdviceContnetBlock {
    gap: 2rem;
    .M_AdvideArticleBlock {
      flex-direction: column;
      gap: 1rem;

      .M_AdviceTextHeading {
        width: 100%;
        gap: 1rem;
      }
    }
    .A_AdviceHeading {
      font-size: 22px;

      em {
        font-size: 28px;
      }
    }
    .A_AdviceIllustration {
      width: 100%;
    }
    .W_ImageBlock {
      flex-direction: column;
      .A_AdviceImageSquare:nth-child(2) {
        width: 100%;
        height: 60.222vw;
      }
    }
  }
  // QaArticle
  .S_QaArticle {
    gap: 1rem;
    margin-bottom: 3rem;
    .M_IconHeading {
      width: 100%;
    }
    .A_QAArticleCover {
      height: 40vw;

      img {
        border-radius: 12px;
      }
    }
    width: 100%;
    padding: 2rem;
    .M_QaContent {
      width: 100%;
    }
    .A_QaArticleHeading {
      font-size: 24px;
      margin-bottom: 0.7rem;
    }
  }
}
// BreakPointHeader
@media only screen and (max-width: 1150px) and (min-width: 428px) {
  header.O_Header {
    padding: 3vw 3vw 0vw;
    .M_HeaderCategories {
      column-gap: 2vw;
    }
    .A_HeaderCategory {
      font-size: 1.958vw;
    }
  }
}
// Tablet
@media only screen and (max-width: 1380px) and (min-width: 428px) {
  header.O_Header {
    // width: 88.477vw;
    .A_HeaderCategory {
      font-size: 1.958vw;
    }
  }
  .Q_IconMedium {
    width: 6.348vw;
    height: 5.859vw;
  }
  section.S_FirstScreen {
    width: 88.477vw;

    .O_WelcomeScreen {
      height: 42.969vw;
      .M_IconHeading {
        width: 75%;
      }
    }
  }
  //  Typography
  .A_FooterCategoryList {
    font-size: 1.953vw;
  }
  .AuthorName {
    font-size: 2.188vw;
  }
  h1.A_TitleManrope {
    font-size: 4.195vw;

    em.Accent {
      font-size: 4.883vw;
    }
  }
  h1.A_TitleAccent {
    font-size: 4.883vw;
  }
  .M_ArticleInfo {
    align-items: center;
    gap: 1vw;
  }
  .A_SubCard {
    font-size: 1.753vw;
    width: 90%;

    em {
      font-size: 2vw;
    }
  }
  .A_Tag {
    font-size: 1.367vw;
    padding: 8px;
  }
  .C_ArticlesRow {
    gap: 1.465vw;
  }
  .A_NavigationLogo {
    width: 17.406vw;
    height: 4.492vw;
  }
  .O_CardArticle {
    width: 29.686vw;
    min-width: 1px;

    img {
      height: 23vw;
      object-fit: cover;
    }
    .M_articleInfo {
      gap: 1.563vw;
    }
  }
  .S_ArticlesHeading {
    .W_HeadingArticles {
      width: 88.477vw;
      .W_TitleLink {
        width: 70%;
      }
    }
  }
  // LaptopNewArticle
  .S_NewArticle {
    width: 88.477vw;
    justify-content: space-between;
    margin: 12.5vw auto 12.5vw;

    .O_NewArticle {
      gap: 4vw;
    }
    .W_NewArticleHeading {
      width: 90%;

      .M_IconHeadingLeft {
        width: 47vw;
      }
    }
    .Q_ImageArticleNew {
      height: 33vw;
      width: 55%;
    }
    .A_TextMain {
      font-size: 1.753vw;
      width: 100%;
    }
  }
  .A_LinkArticleNavigation {
    border: none;
    // :nth-child(1) {
    //   display: none;
    // }
    .Q_ArrowForward {
      width: 2.344vw;
      height: 2.344vw;
    }
  }
  .S_AdvicesArticles {
    .W_AdvicesArticles {
      width: 88.477vw;
    }
  }
  .S_QaCards {
    .W_QaCards {
      width: 88.477vw;
    }
  }
  .A_Tag {
    border: 1px solid;
  }
  .M_AdviceCard {
    width: 28.516vw;
    height: 14.531vw;
    padding: 1rem;
  }
  .O_ArticleWide {
    height: 35.156vw;
  }
  .O_QaCard {
    width: 21.477vw;
  }

  footer.S_Footer {
    padding: 4.688vw 0 2.344vw;
    .W_FooterWithout {
      justify-content: flex-start;
      padding: 3vw;
      width: 100%;
    }
    .W_Authors {
      .W_FooterNamesList:nth-child(1) {
        display: none;
      }
      .W_FooterNamesList:nth-child(2) {
        display: none;
      }
    }
    .O_FooterCategoriesForm {
      width: 58%;
    }
    .W_FooterNamesSocialLogo {
      gap: 1vw;
    }
  }
  .A_FormInput {
    width: 38.086vw;
  }
  .W_FooterCategories {
    gap: 3vw;
  }
  .C_Socials {
    gap: 1.5vw;
    a {
      width: 4.395vw;
      height: 4.395vw;
    }
  }
  // TabletArticles----------------------
  .W_ArticleSlider {
    width: 88.477vw;
    .O_ArticleSlider {
      height: 40.527vw;
    }
  }
  .C_AllArticles {
    width: 93.477vw;
  }
  .O_CardArticleBig {
    width: 46vw;
    width: 45.5vw;
  }
  .С_ArticleCategoryTags {
    width: 80%;
  }
  // IdeasTablet
  .O_ArticleIdeas {
    height: 40.527vw;
  }
  .C_AllIdeasArticles {
    width: 89.477vw;
    row-gap: 1.5vw;
    .O_CardHigh:nth-child(6) {
      background-size: 57%;
      background-position: right 44px;
    }
    .O_CardHigh:nth-child(7) {
      background-size: 89%;
      background-position: right 44px;
    }
    .O_CardHigh {
      width: 28.7vw;
      height: 25.195vw;
    }
  }
  .O_IdeaBigCard {
    width: 44.168vw;
    height: 37.109vw;
  }
  .W_TwoIdeasArticle {
    width: 43.168vw;
    .M_AdviceCard {
      width: 100%;
      height: 14.531vw;
    }
    .O_CardHigh {
      width: 43.168vw;
      height: 20.996vw;

      .M_LongArticleHeading {
        width: 100%;
      }
    }
  }
  .C_AllQaCards {
    width: 91.477vw;
    gap: 1vw;
  }

  // ArticleHtmlTablet

  .S_ArticlePreview {
    width: 91.477vw;

    .O_HeadingArticle {
      flex-direction: column;
      align-items: flex-start;

      .M_IconHeadingLeft {
        width: 84%;
        order: 2;
      }
      .M_TagLine {
        order: 1;
      }
    }
  }
  .Q_ImageWide {
    height: 39.25vw;
  }
  p.A_AuthorArticle {
    font-size: 1.953vw;
  }
  p.A_NameDescArticle {
    font-size: 1.367vw;
  }
  .Q_PersonArticlePic {
    width: 5.859vw;
    height: 5.859vw;
  }
  .O_ArticleAuthorDescription {
    .A_ArticleDescription {
      h3 {
        font-size: 1.953vw;

        em {
          font-size: 2.344vw;
        }
      }
    }
  }
  .A_MainTextArticle {
    font-size: 1.66vw;
  }
  .W_WholeArticle {
    width: 91.477vw;

    .W_MainTexts:nth-child(3) {
      margin-right: 2rem;
    }

    figcaption.A_PhotoDescprition {
      font-size: 1.367vw;
    }
    .O_BreakerOpinion {
      .A_BreakerText {
        font-size: 1.66vw;
      }
    }
    .O_SocialMediaBreaker {
      .A_BreakerLineText {
        font-size: 20px;
      }
    }
  }
  .S_Phreference {
    padding: 4.688vw 0 10.938vw;
  }
  .W_Phreference {
    width: 91.477vw;
  }
  // QaCardTablet
  .S_QaArticle {
    width: 91.477vw;
    margin-bottom: 3rem;
    padding: 5vw;
    .A_QaArticleHeading {
      font-size: 3.516vw;
      margin-bottom: 1rem;
    }
    .A_QAArticleCover {
      height: 32.156vw;
    }
    .M_QaContent {
      width: 75%;
    }
  }
  // IdeaHtmlArticle
  .W_WholeIdeaArticle {
    width: 91.477vw;
    gap: 6vw;

    .W_ArticleHead {
      width: 80%;
      margin-bottom: 10vw;
      padding-bottom: 2vw;
      .M_IconHeading {
        width: 100%;
      }
      .A_AdviceDescriptionText {
        font-size: 2.539vw;
        width: 100%;
        margin-bottom: 3rem;
      }
    }
    .O_AdviceContnetBlock {
      .A_AdviceHeading {
        font-size: 3.206vw;
        width: 103%;
        em {
          font-size: 3.9vw;
        }
      }
    }
    .A_AdviceImage {
      width: 51%;
      height: 31.738vw;
    }
  }
  .M_AdviceBreaker {
    .A_DividerAdviceHeading {
      width: 80%;
      font-size: 2.734vw;
    }
    .A_BreakerText {
      width: 80%;
      font-size: 22px;
    }
  }
  .A_AdviceImageSquare {
    height: 31.738vw;
  }
  .A_ButtonPrimary {
    width: 21vw;
    font-size: 2vw;
  }
}
