@media only screen and (max-width: 1720px) and (min-width: 1300px) {
  .A_Tag {
    font-size: 14px;
  }
  header.O_Header {
    width: 1260px;
  }
  h1.A_TitleManrope {
    font-size: 60px;

    em.Accent {
      font-family: '_21_Cent';
      font-size: 66px;
      line-height: 85%;
    }
  }
  .A_SubCard {
    font-size: 1.5rem;
    line-height: 120%;
    em {
      font-size: 26px;
    }
  }
  h1.A_TitleAccent {
    font-size: 4.25rem;
    font-family: '_21_Cent';
    color: var(--darkGreen);
    font-weight: lighter;
  }
  // Icons
  .Q_IconMedium {
    width: 65px;
    height: 60px;
    background-size: contain;
  }
  //   Buttons
  //   HomePage
  section.S_FirstScreen {
    width: 1260px;

    .O_WelcomeScreen {
      height: 550px;
    }
  }
  .W_NewArticleHeading {
    width: 700px;
  }
  .W_HeadingArticles {
    width: 1240px;
  }
  .W_AdvicesArticles {
    width: 1240px;
    margin: 0 auto;
  }
  .Q_ImageArticleNew {
    height: 400px;
  }
  //   CardsResposnsive
  .O_ArticleWide {
    height: 480px;
  }
  .O_IdeaBigCard {
    width: 612px;
    height: 490px;
  }
  .O_ArticleIdeas {
    height: 480px;
  }
  .O_QaCard {
    width: 298px;
  }
  .O_CardArticleBig {
    width: 620px;
  }
  .O_CardHigh {
    width: 402px;
    height: 316px;
  }
  .M_AdviceCard {
    width: 402px;
    height: 170px;
  }
  .W_TwoIdeasArticle {
    width: 612px;
    .O_CardHigh {
      width: 612px;
      height: 316px;
    }
    .M_AdviceCard {
      width: 612px;
      align-items: center;
      h2 {
        text-align: center;
      }
    }
  }
  // QaArticles
  .W_QaCards {
    width: 1240px;
  }
  // ArticleIndex
  .O_HeadingArticle {
  }
  .Q_PersonArticlePic {
    width: 72px;
    height: 72px;
  }
  .S_ArticlePreview {
    width: 1240px;
  }
  .A_ArticleDescription {
    h3 {
      font-size: 24px;
      color: var(--darkGreen);
      line-height: 120%;

      em {
        font-size: 28px;
        font-family: '_21_Cent';
      }
    }
  }
  p.A_NameDescArticle {
    font-size: 16px;
    color: var(--darkGreen);
  }
  p.A_AuthorArticle {
    font-size: 24px;
    color: var(--darkGreen);
  }
  // ArticleHtml_TextBlock
  .A_MainTextArticle {
    font-size: 1.25rem;
  }
  // ArticleHtml_BreakerText
  h3.A_BreakerText {
    font-size: 24px;
  }
  .A_BreakerLineText {
    font-size: 20px;
  }
  // Footer
  .W_FooterWithout {
    width: 1240px;
  }

  .W_Authors {
    gap: 1.2rem;
  }
  p.AuthorName {
    font-size: 1rem;
  }

  .A_FooterCategoryList {
    font-size: 1.2rem;
  }

  .O_CardArticle {
    width: 403px;
  }
  .S_ArticlesHeading {
    padding: 3.125rem 0px;
  }
  .S_NewArticle {
    width: 1240px;
    .Q_ImageArticleNew {
      height: 400px;
      width: 535px;
    }
    .O_NewArticle {
      width: 700px;
    }
  }
  .O_ArticleCardLong {
    height: 170px;
  }
  .C_AllArticles {
    width: 1260px;
  }
  // Qa
  .C_AllQaCards {
    width: 1240px;
  }

  .C_AllIdeasArticles {
    width: 1240px;
    .O_CardHigh:nth-child(6) {
      background-size: 60%;
      background-position: right 14px;
    }
    .O_CardHigh:nth-child(7) {
      background-size: 86%;
      background-position: right 37px;
    }
  }
  //   IdeasArticle
  .W_ArticleHead {
    .M_IconHeading,
    .A_AdviceDescriptionText {
      width: 800px;
    }
  }
  .W_Phreference {
    width: 1240px;
  }
  .W_WholeArticle {
    width: 1240px;
  }
  .W_WholeIdeaArticle {
    width: 1240px;
    .A_AdviceIllustration {
      width: 300px;
      height: 240px;
    }
    .tall {
      width: 300px;
      height: 320px;
    }
    .A_AdviceDescriptionText {
      font-size: 28px;
    }
    .A_AdviceHeading {
      font-size: 2.5rem;

      em {
        font-size: 3.125rem;
      }
    }
  }
  .M_AdviceBreaker {
    .A_DividerAdviceHeading {
      font-size: 2rem;
    }
    .A_BreakerText {
      font-size: 1.5rem;
    }
  }
  .A_AdviceImageSquare,
  .A_AdviceImage {
    height: 450px;
  }
  //   QA-ArticleHtml
  .S_QaArticle {
    .A_QaArticleHeading {
      font-size: 2.5rem;
    }
  }
}
@media only screen and (max-width: 1919px) and (min-width: 1721px) {
  header.O_Header {
    width: 1440px;
  }
  .S_ArticlePreview {
    width: 1440px;
  }
  .W_WholeArticle {
    width: 1440px;
  }
}
@media only screen and (max-width: 428px) {
  //  Typography
  h1.A_TitleManrope {
    font-size: 6.542vw;

    em.Accent {
      font-size: 7vw;
    }
  }
  h1.A_TitleAccent {
    font-size: 7.82vw;
  }
  .M_ArticleInfo {
    align-items: center;
  }
  .A_SubCard {
    font-size: 5.16vw;
    width: 90%;

    em {
      font-size: 6vw;
    }
  }
  p.A_TextMain {
    font-size: 0.875rem;
    width: 100%;
  }
  // Tags
  .A_Tag {
    font-size: 2.736vw;
    border: 1px solid var(--darkGreen);
    padding: 6px;
    border-radius: 4px;
  }

  // Icons
  .Q_IconMedium {
    width: 8.889vw;
    height: 8.889vw;
  }
  // Header
  header.O_Header {
    width: 100%;
    padding: 3rem 0.45rem 0rem;

    .W_Header {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      .M_HeaderCategories {
        justify-content: space-between;
      }
      .A_HeaderCategory {
        font-size: 3.738vw;
      }
    }
  }
  section.S_FirstScreen {
    width: 94%;
    .O_WelcomeScreen {
      width: 100%;
      padding: 0 1rem;
      height: 359px;
      border-radius: 16px;
      background-image: url('images/Q_MobileHome.png');
      background-position: bottom;
      background-size: contain;
      background-color: var(--blue);

      .M_IconHeading {
        width: 100%;
      }
    }
  }
  // IconHeading
  .M_IconHeading,
  .M_IconHeadingLeft {
    gap: 5px;
  }
  // Links{
  .A_LinkArticleNavigation {
    border-bottom: 0px;
    padding: 0;
    .A_LinkCategory {
      display: none;
    }
    .Q_ArrowForward {
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  section.S_ArticlesHeading {
    background-color: var(--darkerBezh);
    padding: 2rem 1rem;
    margin-top: 2rem;
    .W_HeadingArticles {
      width: 95%;
      .W_TitleLink {
        width: 100%;
      }
      .C_ArticlesRow {
        flex-direction: column;
      }
    }
  }

  // NewArticle
  .S_NewArticle {
    width: 100%;
    flex-direction: column;
    margin: 3rem auto 4rem;
    padding: 0 1rem;
    gap: 2rem;

    .Q_ImageArticleNew {
      order: 1;
      height: 268px;
      .Q_IconDecoration {
        width: 105px;
        height: 105px;
        z-index: 0;
      }
      .Q_IconDecoration:nth-child(2) {
        right: 10vw;
        left: 60vw;
        bottom: -11vw;
        z-index: 0;
        display: none;
      }
      .Q_IconDecoration:nth-child(3) {
        top: -9.25vw;
        right: 60.444vw;
        z-index: 0;
        display: none;
      }
    }
    .O_NewArticle {
      order: 2;
      gap: 2rem;
      .W_NewArticleHeading {
        .M_IconHeadingLeft {
          width: 80%;
          margin-bottom: 1rem;
        }
      }
    }
  }
  .A_ButtonPrimary {
    font-size: 14px;
    padding: 1.3rem 0.75rem;
  }
  .W_TitleLink {
    margin-bottom: 1rem;
    align-items: flex-start;
  }
  .rainingBg {
    background-image: url('images/rainingMobile.png');
  }
  // IdeasArticles
  section.S_AdvicesArticles {
    width: 100%;
    margin: 3rem auto 3rem;
    padding: 1rem;
    gap: 2rem;
    padding: 1rem 1rem 3rem;
    border-radius: 1.5rem;
    background-color: var(--darkerBezh);
    .W_AdvicesArticles {
      width: 95%;
      .W_TitleLink {
        .M_IconHeadingLeft {
          width: 70%;
          .A_TitleAccent {
            order: 2;
          }
          .Q_IconMedium {
            order: 1;
          }
        }
      }
      .C_SmallArticleCards {
        flex-direction: column;

        .M_AdviceCard:nth-child(3) {
          display: none;
        }
      }
    }
  }
  // QaCards
  .S_QaCards {
    width: 100%;
    padding: 1rem;
    .W_QaCards {
      flex-direction: column;
      width: 95%;

      .W_TitleLink {
        .M_IconHeadingLeft {
          width: 77%;
        }
      }
      .C_QaCards {
        flex-wrap: wrap;
        gap: 8px;
      }
    }
  }
  // Footer
  .S_Footer {
    flex-direction: column;
    height: auto;
    padding: 2rem 0 3.5rem;
    border-radius: 1.5rem 1.5rem 0 0;

    .W_FooterWithout {
      gap: 6rem;
      width: 100%;
      padding: 1rem;
      .W_FooterCategories {
        flex-wrap: wrap;
      }
      .A_FooterCategoryList {
        font-size: 1.2rem;
      }
      flex-direction: column;
      .O_FooterCategoriesForm {
        width: 100%;
        .A_SubscriptionForm {
          display: none;
        }
      }
    }
    .W_FooterNamesSocialLogo {
      justify-content: space-between;
      .W_Authors {
        order: 2;
      }
      .M_FooterLogoSocial {
        order: 1;
      }
      .M_FooterLogoSocial {
        gap: 1.5rem;
      }
      .W_Authors {
        .W_FooterNamesList:nth-child(1) {
          display: none;
        }
        .W_FooterNamesList:nth-child(2) {
          display: none;
        }
      }
    }
  }
  // CardsDesicription
  .M_ArticleInfo {
    gap: 0.3rem;
  }
  // MobileCards

  .O_CardArticleBig {
    width: 100%;
    gap: 1rem;
  }
  .O_CardHigh {
    height: 240px;
    width: 100%;
  }
  .O_CardArticle {
    width: 100%;
    height: auto;
    img {
      border-radius: 0.5rem;
    }
  }
  .O_IdeaBigCard {
    height: 360px;
    background-size: auto 65%;
    .M_LongArticleHeading {
      width: 100%;
      .A_SubCard {
        order: 2;
      }
      .M_TagLine {
        order: 1;
      }
    }
  }
  .O_ArticleIdeas {
    height: 360px;
  }
  .O_QaCard {
    width: 48.7%;
    height: 268px;
    border-radius: 8px;
    padding: 0.8rem 0;

    .Q_QaIconArticle {
      width: 39.146vw;
      height: 39.146vw;
    }
    .A_SubCard {
      font-size: 4.444vw;
    }
  }
  .O_ArticleWide {
    height: 360px;
    background-position: bottom;
    background-size: 100%;
    align-items: flex-start;
    padding-top: 1rem;

    .M_ArticleInfo {
      width: 80%;
    }
  }
  .M_AdviceCard {
    width: 100%;
    height: 130px;

    .A_SubCard {
      width: 83%;
    }
  }
  // IdeasPage
  .W_ArticleSlider {
    padding: 0 1rem;
    margin-top: 2rem;
  }
  .Q_PersonArticlePic {
    width: 60px;
    height: 60px;
  }
  .O_ArticleIdeas {
    height: 100vw;
    background-position: bottom;
    background-size: 85%;
    align-items: flex-start;
    padding-top: 1rem;

    .M_ArticleInfo {
      width: 80%;
    }
  }
  .ะก_ArticleCategoryTags {
    margin: 3rem auto 1.5rem;
  }
  .A_FilterTag {
    font-size: 3.736vw;
  }
  .C_AllIdeasArticles {
    width: 100%;
    row-gap: 0.75rem;
    padding: 1rem;
    .O_CardHigh:nth-child(6) {
      background-size: 52%;
      background-position: 153px;
    }
    .O_CardHigh:nth-child(7) {
      background-size: 74%;
      background-position: 79px;
    }
    .O_CardHigh:nth-child(8) {
      background-size: 54%;
      background-position: 182px;
    }
    .W_TwoIdeasArticle {
      width: 100%;
      .O_CardHigh {
        width: 100%;
        height: 300px;
        background-size: 90%;

        .M_LongArticleHeading {
          height: auto;
          order: 2;
          width: 90%;
        }
        .M_TagLine {
          order: 1;
        }
      }
      .M_AdviceCard {
        width: 100%;
        min-height: 160px;
      }
    }
  }
  // Articles
  .C_AllArticles {
    width: 100%;
    row-gap: 0.8rem;
    padding: 2rem 1rem 3rem;
    border-radius: 1.5rem;
    margin-bottom: 4rem;
    flex-direction: column;
    background-color: var(--darkerBezh);

    a.O_CardArticle:nth-child(7) {
      background-color: var(--bezh);
    }
    a.O_CardArticle:nth-child(8) {
      background-color: var(--bezh);
    }
    a.O_CardArticle:nth-child(9) {
      background-color: var(--bezh);
    }

    .O_ArticleWide:nth-child(4) {
      background-image: url('images/mayChillMobile.png');
      background-position: center 150px;
      background-size: 100%;
    }
  }
  // QAArticles
  .C_AllQaCards {
    width: 100%;
    padding: 0 1rem;
    column-gap: 8rem;
    row-gap: 16px;
  }
  // IndexHtml
  p.A_AuthorArticle {
    font-size: 5vw;
  }
  p.A_NameDescArticle {
    font-size: 12px;
  }
  .Q_ImageWide {
    height: 72.222vw;

    img {
      border-radius: 1rem;
    }
  }
  .S_ArticlePreview {
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    row-gap: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 4rem;
    border-radius: 0 0 1rem 1rem;
    .O_ArticleAuthorDescription {
      gap: 1rem;
      p.A_NameDescArticle {
        font-size: 14px;
      }
      flex-direction: column;
    }
    .M_PersonProfileArticle {
      display: flex;
      width: 100%;
    }
    .A_ArticleDescription {
      width: 100%;
      h3 {
        font-size: 4.112vw;
      }
    }

    .O_HeadingArticle {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 1rem;
      .M_IconHeadingLeft {
        width: 100%;
        order: 2;
      }
      .M_TagLine {
        order: 1;
      }
    }
  }
  .W_MainTexts {
    width: 100%;
    gap: 1rem;
  }
  .A_MainTextArticle {
    font-size: 3.889vw;
  }
  .W_WholeArticle {
    width: 100%;
    padding: 1rem;
    gap: 2rem;
    .W_MainTexts:nth-child(3) {
      width: 100%;
      margin-right: 0;
    }
    .O_ArticleBlock {
      .M_SubheadText {
        flex-direction: column;
        gap: 1rem;
      }
      .Q_ArticlePicture {
        height: 270px;
        width: 100%;
        figcaption.A_PhotoDescprition {
          font-size: 12px;
          margin-top: 0.5rem;
        }

        img {
          border-radius: 16px;
        }
      }
    }
    .O_BreakerOpinion {
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
      margin-top: 1rem;

      .M_PersonProfileArticle {
        width: 100%;
      }
      .A_BreakerText {
        font-size: 16px;
        width: 100%;
      }
    }
  }
  .S_Phreference {
    width: 100%;
    padding: 1rem;
    .W_Phreference {
      width: 100%;

      .C_ArticlesRow {
        flex-direction: column;
      }
    }
  }
  .O_SocialMediaBreaker {
    flex-direction: column;
    gap: 2rem;

    .M_BreakerIconText {
      .A_BreakerLineText {
        font-size: 16px;
      }
    }
  }
  a.A_ActionArticle {
    width: 205px;
    height: 60px;
    border-radius: 8px;
  }
}
