// Desktop
@media only screen and (max-width: 1720px) and (min-width: 1300px) {
  // Header
  .S_MenuBar {
    max-width: 1260px;
  }

  .A_Tag {
    font-size: 14px;
  }
  .W_ArticleSlider {
    width: 1260px;
  }
  h1.A_TitleManrope {
    font-size: 60px;

    em.Accent {
      font-family: '_21_Cent';
      font-size: 66px;
      line-height: 85%;
    }
  }
  .A_SubCard {
    font-size: 1.5rem;
    line-height: 120%;
    width: 94%;
    em {
      font-size: 27px;
    }
  }
  h1.A_TitleAccent {
    font-size: 4.25rem;
    font-family: '_21_Cent';
    color: var(--darkGreen);
    font-weight: lighter;
  }
  // Icons
  .Q_IconMedium {
    width: 65px;
    height: 60px;
    background-size: contain;
  }
  //   Buttons
  //   HomePage
  section.S_FirstScreen {
    width: 1260px;

    .O_WelcomeScreen {
      height: 530px;
    }
  }
  .W_NewArticleHeading {
    width: 700px;
  }
  .W_HeadingArticles {
    width: 1240px;

    .W_TitleLink {
      width: 69%;
    }
  }
  .W_AdvicesArticles {
    width: 1240px;
    margin: 0 auto;
  }
  .Q_ImageArticleNew {
    height: 400px;
  }
  //   CardsResposnsive
  .O_ArticleWide {
    height: 480px;
  }
  .O_ArticleSlider {
    height: 480px;
    width: 100%;
  }
  .O_IdeaBigCard {
    width: 612px;
    height: 415px;
    background-size: 85%;
    background-position: 120% 100%;
  }
  .ray_Bg {
    background-size: 65%;
    background-position: 90% 100%;
  }
  .Q_DrinksIdeas {
    background-size: 52%;
  }
  .Q_VegetablesIdeas {
    background-size: 80%;
  }
  .Q_RaindropsIdeas {
    background-size: 60%;
  }
  .O_ArticleIdeas {
    height: 480px;
  }
  .O_QaCard {
    width: 298px;
  }
  .O_CardArticleBig {
    width: 620px;
    height: 580px;
    gap: 1rem;

    .M_ArticleInfo {
      gap: 8px;
    }
  }
  .O_CardHigh {
    width: 402px;
    height: 316px;
  }
  .M_AdviceCard {
    width: 402px;
    height: 170px;
  }
  .W_TwoIdeasArticle {
    width: 612px;
    .O_CardHigh {
      width: 612px;
      height: 316px;
    }
    .M_AdviceCard {
      width: 612px;
      align-items: center;
      h2 {
        text-align: center;
      }
    }
  }
  // QaArticles
  .W_QaCards {
    width: 1240px;
  }
  // ArticleIndex
  .O_HeadingArticle {
  }
  .Q_PersonArticlePic {
    width: 72px;
    height: 72px;
  }
  .W_HomeScreenArticle {
    border-radius: 0 0 4vw 4vw;
  }
  .S_ArticlePreview {
    width: 1240px;
  }
  .A_ArticleDescription {
    h3 {
      font-size: 24px;
      color: var(--darkGreen);
      line-height: 120%;

      em {
        font-size: 28px;
        font-family: '_21_Cent';
      }
    }
  }
  p.A_NameDescArticle {
    font-size: 16px;
    color: var(--darkGreen);
  }
  p.A_AuthorArticle {
    font-size: 24px;
    color: var(--darkGreen);
  }
  // ArticleHtml_TextBlock
  .A_MainTextArticle {
    font-size: 1.25rem;
  }
  // ArticleHtml_BreakerText
  h3.A_BreakerText {
    font-size: 24px;
  }
  .A_BreakerLineText {
    font-size: 20px;
  }
  // Footer
  .W_FooterWithout {
    width: 1240px;
  }

  .W_Authors {
    gap: 1.2rem;
  }
  p.AuthorName {
    font-size: 1rem;
  }

  .A_FooterCategoryList {
    font-size: 1.2rem;
  }

  .O_CardArticle {
    width: 410px;
    height: 450px;
    gap: 1rem;

    .M_ArticleInfo {
      gap: 8px;
    }
  }
  .S_ArticlesHeading {
    padding: 3.125rem 0px;
  }
  .S_NewArticle {
    width: 1240px;
    .Q_ImageArticleNew {
      height: 400px;
      width: 535px;
    }
    .O_NewArticle {
      width: 700px;
    }
  }
  .O_ArticleCardLong {
    height: 170px;
  }
  .C_AllArticles {
    width: 1260px;
  }
  // Qa
  .C_AllQaCards {
    width: 1240px;
  }

  .C_AllIdeasArticles {
    width: 1240px;
    .O_CardHigh:nth-child(6) {
      background-size: 60%;
      background-position: right 14px;
    }
    .O_CardHigh:nth-child(7) {
      background-size: 86%;
      background-position: right 37px;
    }
  }
  //   IdeasArticle
  .W_ArticleHead {
    .M_IconHeading,
    .A_AdviceDescriptionText {
      width: 80%;
    }
  }
  .W_Phreference {
    width: 1240px;
  }
  .W_WholeArticle {
    width: 1240px;
    margin-bottom: 8rem;
  }
  .W_WholeIdeaArticle {
    width: 1240px;
    .A_AdviceIllustration {
      width: 300px;
      height: 240px;
    }
    .tall {
      width: 300px;
      height: 320px;
    }
    .A_AdviceDescriptionText {
      font-size: 28px;
    }
    .A_AdviceHeading {
      font-size: 2.5rem;

      em {
        font-size: 3.125rem;
      }
    }
  }
  .M_AdviceBreaker {
    .A_DividerAdviceHeading {
      font-size: 2rem;
    }
    .A_BreakerText {
      font-size: 1.5rem;
    }
  }
  .A_AdviceImageSquare,
  .A_AdviceImage {
    height: 450px;
  }
  //   QA-ArticleHtml
  .S_QaArticle {
    .A_QaArticleHeading {
      font-size: 2.5rem;
    }
  }
}
// Laptop
@media only screen and (max-width: 1919px) and (min-width: 1721px) {
  .S_ArticlePreview {
    width: 1440px;
  }
  .W_WholeArticle {
    width: 1440px;
  }
}
// Mobile
@media only screen and (max-width: 700px) {
  // Error Pages
  .S_Container {
    align-items: flex-start;
    .S_Error {
      flex-direction: column;
      margin-top: 4%;
      gap: 3vw;
      .O_ErrorTextNumber {
        order: 2;
        .W_ErrorText {
          gap: 1vw;
          width: 100%;
          padding: 2vw 4vw;
          .A_ErrorTextMain {
            font-size: 3.5vw;
          }
          .A_BackToMain {
            font-size: 5vw;
            margin-top: 4vw;
          }
          .M_IconHeadingLeft {
            width: 55%;
          }
        }

        .A_ErrorNumber {
          font-size: 38vw;
          height: 32vw;
          text-align: center;
        }
      }
      .A_ErrorIcon404 {
        order: 1;
        width: 100%;
        height: 56vw;
        display: flex;
        justify-content: center;

        img {
          width: auto;
        }
      }
    }
  }
  p.A_ErrorTextMain {
    font-size: 1.5vw;
  }

  //  Typography
  h1.A_TitleManrope {
    font-size: 6.542vw;

    em.Accent {
      font-size: 8vw;
    }
  }
  h1.A_TitleAccent {
    font-size: 7.82vw;
  }
  .M_ArticleInfo {
    align-items: center;
  }
  .A_SubCard {
    font-size: 4.5vw;
    width: 87%;

    em {
      font-size: 5vw;
    }
  }
  p.A_TextMain {
    font-size: 3.4vw;
    width: 90%;
  }
  // Tags
  .A_Tag {
    font-size: 2.736vw;
    border: 1px solid var(--darkGreen);
    padding: 6px 9px;
    border-radius: 1vw;
  }

  // Icons
  .Q_IconMedium {
    width: 8.889vw;
    height: 8.889vw;
  }
  section.S_FirstScreen {
    width: 94%;
    margin-top: 5vw;
    overflow: hidden;
    border-radius: 5vw;
    .O_WelcomeScreen {
      width: 100%;
      padding: 0 1rem;
      height: 84vw;
      border-radius: 16px;
      background-image: url('images/Q_MobileHome.png');
      background-position: bottom;
      background-size: 89%;
      background-color: var(--blue);

      .M_IconHeading {
        width: 100%;
        row-gap: 1vw;
      }
    }
  }
  // IconHeading
  .M_IconHeading,
  .M_IconHeadingLeft {
    gap: 5px;
  }
  // Links{
  .A_LinkArticleNavigation {
    border-bottom: 0px;
    padding: 0;
    margin-bottom: 1vw;

    a.A_LinkCategory {
      font-size: 3vw;
    }

    .Q_ArrowForward {
      width: 3.5vw;
      height: 3.5vw;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  section.S_ArticlesHeading {
    background-color: var(--darkerBezh);
    padding: 2rem 1rem;
    margin-top: 2rem;
    .W_HeadingArticles {
      width: 95%;
      .W_TitleLink {
        width: 100%;

        .A_TitleManrope {
          text-align: left;
        }
      }
      .C_ArticlesRow {
        flex-direction: column;
      }
    }
  }

  // NewArticle
  .S_NewArticle {
    width: 100%;
    flex-direction: column;
    margin: 3rem auto 4rem;
    padding: 0 1rem;
    gap: 2rem;

    .Q_ImageArticleNew {
      order: 1;
      height: 60vw;
      .Q_IconDecoration {
        width: 105px;
        height: 105px;
        z-index: 0;
      }
      .Q_IconDecoration:nth-child(2) {
        right: 10vw;
        left: 60vw;
        bottom: -11vw;
        z-index: 0;
        display: none;
      }
      .Q_IconDecoration:nth-child(3) {
        top: -9.25vw;
        right: 60.444vw;
        z-index: 0;
        display: none;
      }
    }
    .O_NewArticle {
      order: 2;
      gap: 2rem;
      padding-left: 4vw;
      .W_NewArticleHeading {
        .M_IconHeadingLeft {
          width: 74vw;
          margin-bottom: 1rem;
        }
      }
    }
  }
  .A_ButtonPrimary {
    font-size: 3vw;
    width: 36vw;
    padding: 4vw 4vw;
  }
  .W_TitleLink {
    margin-bottom: 6vw;
    align-items: flex;
  }
  .rainingBg {
    background-image: url('images/rainingMobile.png');
  }
  // IdeasArticles
  section.S_AdvicesArticles {
    width: 100%;
    margin: 3rem auto 3rem;
    gap: 2rem;
    padding: 8vw 2vw 16vw;
    border-radius: 1.5rem;
    background-color: var(--darkerBezh);
    .W_AdvicesArticles {
      width: 95%;
      .W_TitleLink {
        .M_IconHeadingLeft {
          width: 64%;
          .A_TitleAccent {
            order: 2;
          }
          .Q_IconMedium {
            order: 1;
          }
        }
      }
      .C_SmallArticleCards {
        flex-direction: column;
        gap: 3vw;

        .M_AdviceCard:nth-child(3) {
          display: none;
        }
      }
    }
  }
  // QaCards
  .S_QaCards {
    width: 100%;
    padding: 1rem;
    margin: 0 auto 25vw;
    .W_QaCards {
      flex-direction: column;
      width: 95%;

      .W_TitleLink {
        .M_IconHeadingLeft {
          width: 65%;

          .Q_IconMedium {
            display: none;
          }
        }
      }
      .C_QaCards {
        flex-wrap: wrap;
        gap: 8px;
        row-gap: 2vw;
      }
    }
  }
  // Footer
  .S_Footer {
    flex-direction: column;
    height: auto;
    padding: 2rem 0 0;
    border-radius: 1.5rem 1.5rem 0 0;

    .W_FooterWithout {
      gap: 9vw;
      width: 100%;
      padding: 6vw;
      .W_FooterCategories {
        flex-wrap: wrap;
        gap: 6vw;
        row-gap: 4vw;
      }
      .A_FooterCategoryList {
        font-size: 4vw;
      }
      flex-direction: column;
      .O_FooterCategoriesForm {
        gap: 15vw;
        width: 100%;
        .A_SubscriptionForm {
          gap: 3vw;

          .M_FooterLogoSocial {
            .A_NavigationLogo {
              width: 37.1vw;
              height: 9.7vw;
            }
            .C_Socials {
              gap: 3vw;
              a {
                width: 8.5vw;
                height: 8.5vw;
              }
            }
          }
        }
      }
    }
    .W_FooterNamesSocialLogo {
      justify-content: space-between;
      .W_Authors {
        order: 2;
        display: none;
      }
      .M_FooterLogoSocial {
        order: 1;
      }
      .M_FooterLogoSocial {
        gap: 1.5rem;
        margin: 0;
      }
      .W_Authors {
        .W_FooterNamesList:nth-child(1) {
          display: none;
        }
        .W_FooterNamesList:nth-child(2) {
          display: none;
        }
      }
    }
  }
  // CardsDesicription
  .M_ArticleInfo {
    gap: 0.3rem;

    .M_TagLine {
      gap: 1.2vw;
    }
  }
  // MobileCards
  .W_ArticleSlider {
    width: 100%;
    padding: 1rem;
    height: 100vw;
  }
  .swiper-slide {
    .O_ArticleSlider {
      height: 100%;
      .M_ArticleInfo {
        width: 100%;
        // color: red;
      }
    }
  }

  .O_CardArticleBig {
    width: 100%;
    gap: 1rem;
    padding: 3vw;
    border-radius: 4vw;
  }
  .O_CardHigh {
    height: 65vw;
    width: 100%;
    background-size: 81%;
    background-position: 18vw 6vw;
    padding: 3vw 4vw 4vw;
    .M_LongArticleHeading {
      .A_SubCard {
        width: 80%;
      }
    }
  }
  .Q_RaindropsIdeas {
    background-size: 61%;
    background-position: 50vw 4vw;
  }
  .O_CardArticle {
    width: 100%;
    gap: 2vw;
    padding: 3vw 3vw 5vw;
    height: auto;
    border-radius: 4vw;
    img {
      border-radius: 0.5rem;
    }
  }
  .O_IdeaBigCard {
    height: 70vw;
    background-size: auto 60%;
    padding: 4vw;
    .M_LongArticleHeading {
      width: 100%;
      gap: 2vw;
      .A_SubCard {
        order: 2;
      }
      .M_TagLine {
        order: 1;
      }
    }
  }
  .ray_Bg {
    background-size: 70%;
  }
  .M_AdviceCard.wrapper {
    width: 100%;
    height: 32vw;
    .A_SubCard {
      width: 100%;
    }
  }
  .O_ArticleIdeas {
    height: 360px;
  }
  .O_QaCard {
    width: 41.5vw;
    gap: 3vw;
    height: 65vw;
    padding: 3.8vw 0;
    border-radius: 4.5vw;
    padding: 4vw 0;

    .Q_QaIconArticle {
      width: 39.146vw;
      height: 39.146vw;
    }
    .A_SubCard {
      font-size: 3.8vw;
    }
  }
  .O_ArticleWide {
    height: 86vw;
    background-position: bottom;
    background-size: 95%;
    align-items: flex-start;
    padding-top: 4vw;

    .M_ArticleInfo {
      width: 80%;
    }
  }
  .M_AdviceCard {
    width: 100%;
    height: 30vw;
    border-radius: 3vw;
    padding: 3vw 4vw 4vw;

    .A_SubCard {
      width: 80%;
    }
  }
  // IdeasPage
  .W_ArticleSlider {
    padding: 0 1rem;
    height: 84vw;
    margin-top: 2rem;
  }
  .Q_PersonArticlePic {
    width: 12vw;
    height: 12vw;
  }
  .O_ArticleIdeas {
    height: 84vw;
    background-position: bottom;
    background-size: 85%;
    align-items: flex-start;
    padding-top: 4vw;

    .M_ArticleInfo {
      width: 80%;
    }
  }
  .С_ArticleCategoryTags {
    margin: 10vw auto 1.5rem;
  }
  .A_FilterTag {
    font-size: 3.736vw;
    padding: 2vw 3vw;
  }
  .C_AllIdeasArticles {
    width: 100%;
    row-gap: 3vw;
    padding: 1rem;
    .O_CardHigh:nth-child(6) {
      background-size: 52%;
      background-position: 153px;
    }
    .O_CardHigh:nth-child(7) {
      background-size: 74%;
      background-position: 79px;
    }
    .O_CardHigh:nth-child(8) {
      background-size: 54%;
      background-position: 43vw 3vw;
    }
    .W_TwoIdeasArticle {
      width: 100%;
      .O_CardHigh {
        width: 100%;
        height: 300px;
        background-size: 80%;

        .M_LongArticleHeading {
          height: auto;
          order: 2;
          width: 90%;
        }
        .M_TagLine {
          order: 1;
        }
      }
      .M_AdviceCard {
        width: 100%;
        min-height: 160px;
      }
    }
  }
  // Articles
  .C_AllArticles {
    width: 100%;
    row-gap: 4vw;
    padding: 2rem 1rem 3rem;
    border-radius: 1.5rem;
    margin-bottom: 20vw;
    flex-direction: column;
    background-color: var(--darkerBezh);

    a.O_CardArticle:nth-child(7) {
      background-color: var(--bezh);
    }
    a.O_CardArticle:nth-child(8) {
      background-color: var(--bezh);
    }
    a.O_CardArticle:nth-child(9) {
      background-color: var(--bezh);
    }

    .O_ArticleWide:nth-child(4) {
      background-image: url('images/mayChillMobile.png');
      background-position: center 30vw;
      background-size: 97%;
    }
  }
  // QAArticles
  .C_AllQaCards {
    width: 100%;
    padding: 0 1rem;
    column-gap: 2.1vw;
    row-gap: 3vw;
  }
  // IndexHtml
  p.A_AuthorArticle {
    font-size: 3.7vw;
    font-weight: 600;
    margin-bottom: 1vw;
  }
  p.A_NameDescArticle {
    font-size: 12px;
  }
  .Q_ImageWide {
    height: 72vw;

    img {
      border-radius: 1rem;
    }
  }
  .S_ArticlePreview {
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    row-gap: 2vw;
    margin-bottom: 5vw;
    padding-bottom: 6vw;
    border-radius: 0 0 1rem 1rem;
    .O_ArticleAuthorDescription {
      gap: 1rem;
      margin-top: 4vw;
      p.A_NameDescArticle {
        font-size: 3vw;
      }
      flex-direction: column;
    }
    .M_PersonProfileArticle {
      display: flex;
      width: 100%;
      gap: 2vw;
    }
    .A_ArticleDescription {
      width: 100%;
      h3 {
        font-size: 4vw;

        em {
          font-size: 4.6vw;
        }
      }
    }

    .O_HeadingArticle {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 1rem;
      .M_IconHeadingLeft {
        width: 100%;
        order: 2;

        .A_TitleManrope {
          font-size: 6.4vw;
        }
        .A_TitleAccent {
          span.A_TitleSuperAccent {
            font-size: 7vw;
          }
        }
      }
      .M_TagLine {
        order: 1;
        width: 100%;
        justify-content: left;
        margin-bottom: 2vw;
      }
    }
  }
  .W_MainTexts {
    width: 100%;
    gap: 1rem;
  }
  .A_MainTextArticle {
    font-size: 3.4vw;
  }
  .W_HomeScreenArticle {
    border-radius: 0 0 6vw 6vw;
  }
  .W_WholeArticle {
    width: 100%;
    padding: 1rem;
    gap: 2rem;

    .O_ArticleBlock:nth-child(6) {
      .A_MainTextArticle {
        width: 100%;
      }
    }
    .A_MainTextArticle:nth-child(3) {
      width: 100%;
      margin-right: 0;
    }
    .W_MainTexts:nth-child(3) {
      width: 100%;
      margin-right: 0;
    }
    .O_ArticleBlock {
      .M_SubheadText {
        flex-direction: column;
        gap: 1rem;
        .A_SubHeadArticle {
          width: 100%;
          font-size: 6vw;

          em {
            font-size: 6.8vw;
          }
        }
      }
      .Q_ArticlePicture {
        height: 72vw;
        width: 100%;
        figcaption.A_PhotoDescprition {
          font-size: 3.1vw;
          margin-top: 0.5rem;
          padding-left: 5%;
        }

        img {
          border-radius: 16px;
        }
      }
    }
    .O_BreakerOpinion {
      flex-direction: column;
      gap: 3vw;
      padding: 4vw;
      margin-top: 4vw;

      .M_PersonProfileArticle {
        width: 100%;
        gap: 2vw;
      }
      .A_BreakerText {
        font-size: 3.5vw;
        width: 100%;
      }
    }
  }
  .W_PreferenceFooter {
    background-color: var(--darkerBezh);
    .S_Phreference {
      width: 100%;
      background-color: var(--darkerBezh);
      padding: 1rem;
      padding-top: 8vw;
      border-radius: 3vw;
      margin-bottom: 4rem;
      .W_Phreference {
        width: 100%;
        gap: 1rem;

        .C_ArticlesRow {
          flex-direction: column;
        }
      }
    }
  }
  .O_SocialMediaBreaker {
    flex-direction: column;
    gap: 1rem;
    padding: 4vw 3vw;

    .M_BreakerIconText {
      .A_Telegram {
        background-image: url('images/A_Telegram_Article.svg');
        height: 8.5vw;
        width: 8.5vw;
      }
      .A_BreakerLineText {
        font-size: 4vw;
      }
    }
  }
  a.A_ActionArticle {
    max-width: 35vw;
    justify-content: center;
    height: 10vw;
    border-radius: 1vw;
    font-size: 3vw;
    margin-left: 12%;
  }
  // IdeasArticleMobile
  .W_WholeIdeaArticle {
    width: 100%;
    padding: 1rem;
    gap: 2rem;

    .W_ArticleHead {
      align-items: flex-start;
      margin-top: 2rem;
      gap: 0;
      padding-bottom: 3rem;
      margin-bottom: 1rem;
      .M_IconHeading {
        width: 100%;
        justify-content: flex-start;
      }
      .A_AdviceDescriptionText {
        font-size: 3.5vw;
        width: 100%;
        text-align: left;
        margin-top: 3vw;
      }
    }
    .A_AdviceImage {
      height: 60vw;
      width: 100%;
    }
    .M_AdviceBreaker {
      .A_DividerAdviceHeading {
        font-size: 4vw;
        line-height: 120%;
        text-align: left;
        width: 100%;
        font-weight: 600;
      }
    }
    .A_BreakerText {
      font-size: 3.6vw;
      text-align: left;
      width: 100%;
    }
  }
  .O_AdviceContnetBlock {
    gap: 2rem;
    .M_AdvideArticleBlock {
      flex-direction: column;
      gap: 6vw;

      .M_AdviceTextHeading {
        width: 100%;
        gap: 1rem;
      }
    }
    .A_AdviceHeading {
      font-size: 6vw;
      line-height: 115%;

      em {
        font-size: 7vw;
      }
    }
    .A_AdviceIllustration {
      width: 100%;
    }
    .W_ImageBlock {
      flex-direction: column;
      .A_AdviceImageSquare:nth-child(2) {
        width: 100%;
        height: 60vw;
      }
    }
  }
  // QaArticle
  .S_QaArticle {
    gap: 1rem;
    margin-top: 5vw;
    margin-bottom: 3rem;
    .M_IconHeading {
      width: 100%;
    }
    .A_QAArticleCover {
      height: 40vw;

      img {
        border-radius: 12px;
      }
    }
    width: 100%;
    padding: 2rem;
    .M_QaContent {
      width: 100%;
    }
    .A_QaArticleHeading {
      font-size: 5vw;
      margin-bottom: 0.7rem;
    }
  }
}
// --------------------------------------Tablet--------------------------------------------------------
@media only screen and (max-width: 1380px) and (min-width: 701px) {
  header.O_Header {
    // width: 88.477vw;
    .A_HeaderCategory {
      font-size: 1.958vw;
    }
  }
  // Background images
  .rainingBg {
    background-size: 108%;
    background-position: bottom;
  }
  .Q_IconMedium {
    width: 4.348vw;
    height: 3.859vw;
  }

  a.A_LinkCategory {
    font-size: 1.4vw;
  }
  section.S_FirstScreen {
    width: 93.477vw;

    .O_WelcomeScreen {
      height: 42.969vw;
      .M_IconHeading {
        width: 75%;
        gap: 1vw;
      }
    }
  }
  //  Typography
  .A_FooterCategoryList {
    font-size: 1.453vw;
  }
  .AuthorName {
    font-size: 1.288vw;

    &:first-child {
      font-size: 1.6vw;
    }
  }
  p.A_TextMain {
    font-size: 1.5vw;
    line-height: 120%;
  }
  h1.A_TitleManrope {
    font-size: 4.195vw;

    em.Accent {
      font-size: 4.883vw;
    }
  }
  h1.A_TitleAccent {
    font-size: 4.883vw;
  }
  .M_ArticleInfo {
    align-items: center;
    gap: 0.5vw;
  }
  .A_SubCard {
    font-size: 1.553vw;
    // width: 90%;

    em {
      font-size: 1.9vw;
    }
  }
  .A_Tag {
    font-size: 1.367vw;
    padding: 8px;
  }
  .C_ArticlesRow {
    gap: 1.465vw;
  }
  .A_NavigationLogo {
    width: 14.406vw;
    height: 3.792vw;
  }
  .O_CardArticle {
    width: 30.4vw;
    height: 33vw;
    row-gap: 1vw;
    min-width: 1px;
    padding-bottom: 1.5rem;
    padding: 1vw 1vw 2vw 1vw;

    .Q_Image {
      img {
        height: 20vw;
      }
    }

    img {
      height: 23vw;
      object-fit: cover;
    }
    .M_articleInfo {
      gap: 1.563vw;
    }
  }
  section.S_ArticlesHeading {
    padding: 5vw 0vw 7vw;
    margin-top: 4vw;
    .W_HeadingArticles {
      width: 88.477vw;
      .W_TitleLink {
        width: 70%;
      }
    }
  }
  // LaptopNewArticle
  .S_NewArticle {
    width: 88.477vw;
    justify-content: space-between;
    margin: 12.5vw auto 12.5vw;
    gap: 2vw;

    .O_NewArticle {
      gap: 3vw;
    }
    .W_NewArticleHeading {
      width: 90%;

      .M_IconHeadingLeft {
        width: 47vw;
        margin-bottom: 1vw;
      }
    }
    .Q_ImageArticleNew {
      height: 33vw;
      width: 55%;
    }
    .A_TextMain {
      font-size: 1.5vw;
      width: 100%;
    }
  }
  .A_LinkArticleNavigation {
    border: none;
    // :nth-child(1) {
    //   display: none;
    // }
    .Q_ArrowForward {
      width: 1.344vw;
      height: 1.344vw;
    }
  }
  .S_AdvicesArticles {
    padding: 5vw 0vw 7vw;
    .W_AdvicesArticles {
      width: 88.477vw;
    }
  }
  .S_QaCards {
    .W_QaCards {
      width: 88.477vw;
    }
  }
  .M_TagLine {
    column-gap: 8px;
  }
  .A_Tag {
    font-size: 1.2vw;
    border: 1px solid;
    padding: 0.6vw 0.7vw;
    border-radius: 0.5vw;
  }
  .M_AdviceCard {
    width: 30.486vw;
    height: auto;
    padding: 1.25rem 1.25rem 1.5rem;
    max-height: 14vw;
  }
  .O_ArticleWide {
    height: 37.156vw;
  }
  .O_QaCard {
    width: 21.477vw;
    gap: 1vw;
    padding: 2vw 1.5vw;
  }

  footer.S_Footer {
    padding: 4.688vw 0 2.344vw;
    height: 22.5vw;
    border-radius: 1rem 1rem 0 0;
    .W_FooterWithout {
      justify-content: space-between;
      padding: 3vw 5.5vw;
      width: 100%;
    }
    .W_Authors {
      .W_FooterNamesList:nth-child(1) {
        // display: none;
      }
      .W_FooterNamesList:nth-child(2) {
        // display: none;
      }
    }
    .M_FooterLogoSocial {
      gap: 1.8vw;
    }
    // .O_FooterCategoriesForm {
    //   width: 58%;
    // }
    .W_FooterNamesSocialLogo {
      gap: 1vw;
    }
  }
  .A_FormInput {
    width: 22.086vw;
    padding: 1.5vw;
    font-size: 1.4vw;
  }
  .W_FooterCategories {
    gap: 2vw;
  }
  .C_Socials {
    gap: 1vw;
    a {
      width: 3.395vw;
      height: 3.395vw;
    }
  }
  // TabletArticles----------------------
  .W_ArticleSlider {
    width: 93.447vw;
    .O_ArticleSlider {
      height: 40.527vw;
    }
  }

  .C_AllArticles {
    width: 93.477vw;
    gap: 1.1vw;
    row-gap: 2vw;
  }
  .O_CardArticleBig {
    width: 46.1vw;
    height: 41vw;
    gap: 1vw;
  }
  .С_ArticleCategoryTags {
    width: 80%;
    margin: 4vw auto;
  }
  // IdeasTablet
  .O_ArticleIdeas {
    height: 40.527vw;
  }
  .C_AllIdeasArticles {
    width: 93.477vw;
    row-gap: 1.5vw;
    column-gap: 1vw;
    .Q_DrinksIdeas {
      background-position: 98% 67%;
      background-size: 48%;
    }
    .Q_VegetablesIdeas {
      background-position: 108% 47%;
      background-size: 77%;
    }
    .O_CardHigh {
      width: 30.4vw;
      height: 24vw;
    }
    .Q_RaindropsIdeas {
      background-size: 57%;
      background-position: 137%;
    }
  }
  .O_IdeaBigCard {
    width: 46.168vw;
    height: 28.109vw;
    background-size: 72%;
    background-position: 107% 100%;
    padding: 2.5vw 3vw;

    .M_LongArticleHeading {
      gap: 1vw;
    }
  }
  .ray_Bg {
    background-size: 60%;
    background-position: 88% 100%;
  }

  .C_AllQaCards {
    width: 91.477vw;
    gap: 1vw;
    row-gap: 2vw;
  }

  // ArticleHtmlTablet
  .W_HomeScreenArticle {
    border-radius: 0 0 3vw 3vw;
  }
  .S_ArticlePreview {
    width: 91.477vw;
    padding-bottom: 0;

    .O_HeadingArticle {
      flex-direction: column;
      align-items: flex-start;

      .M_IconHeadingLeft {
        width: 84%;
        order: 2;
      }
      .M_TagLine {
        order: 1;
        justify-content: flex-start;
        width: 100%;
      }
    }
  }
  .Q_ImageWide {
    height: 39.25vw;
  }
  p.A_AuthorArticle {
    font-size: 1.953vw;
  }
  p.A_NameDescArticle {
    font-size: 1.367vw;
  }
  .Q_PersonArticlePic {
    width: 5.859vw;
    height: 5.859vw;
  }
  .O_ArticleAuthorDescription {
    .A_ArticleDescription {
      h3 {
        font-size: 1.953vw;

        em {
          font-size: 2.344vw;
        }
      }
    }
  }
  // TextArticle
  .A_MainTextArticle {
    font-size: 1.66vw;
  }
  // HeadingArticle
  .A_SubHeadArticle {
    font-size: 2.5vw;

    em {
      font-size: 3vw;
    }
  }
  .O_ArticleBlock {
    gap: 3vw;

    .Q_ArticlePicture {
      height: 30vw;
    }
  }
  .W_WholeArticle {
    width: 91.477vw;
    gap: 5vw;

    .W_MainTexts:nth-child(3) {
      margin-right: 2rem;
    }

    figcaption.A_PhotoDescprition {
      font-size: 1.367vw;
      padding-left: 2vw;
    }
    .O_BreakerOpinion {
      .A_BreakerText {
        font-size: 1.66vw;
      }
    }
    .O_SocialMediaBreaker {
      .A_BreakerLineText {
        font-size: 1.953vw;
      }
      a.A_ActionArticle {
        font-size: 1.66vw;
      }
    }
  }
  .S_Phreference {
    padding: 4.688vw 0 10.938vw;
  }
  .W_Phreference {
    width: 91.477vw;
  }
  // QaCardTablet
  .S_QaArticle {
    width: 91.477vw;
    margin-bottom: 3rem;
    padding: 5vw;
    .A_QaArticleHeading {
      font-size: 3.516vw;
      margin-bottom: 1rem;
    }
    .A_QAArticleCover {
      height: 32.156vw;
    }
    .M_QaContent {
      width: 75%;
    }
  }
  // IdeaHtmlArticle
  .W_WholeIdeaArticle {
    width: 91.477vw;
    gap: 6vw;

    .W_ArticleHead {
      width: 80%;
      margin-bottom: 10vw;
      padding-bottom: 2vw;
      .M_IconHeading {
        width: 100%;
      }
      .A_AdviceDescriptionText {
        font-size: 2.339vw;
        width: 100%;
        margin-bottom: 3rem;
      }
    }
    .O_AdviceContnetBlock {
      // IdeasIconPictures
      .A_AdviceIllustration {
        width: 28vw;
        height: 23vw;

        &.tall {
          height: 34vw;
        }
      }
      .M_AdvideArticleBlock {
        gap: 6vw;
      }
      .M_AdviceTextHeading {
        gap: 1.5vw;
      }
      .A_AdviceHeading {
        font-size: 3.206vw;
        width: 90%;
        em {
          font-size: 3.6vw;
        }
      }
    }
    .A_AdviceImage {
      width: 63%;
      height: 31.738vw;
    }
  }
  .M_AdviceBreaker {
    gap: 1vw;
    .A_DividerAdviceHeading {
      width: 80%;
      font-size: 2.434vw;
      line-height: 120%;
    }
    .A_BreakerText {
      width: 80%;
      font-size: 1.86vw;
    }
  }
  .A_AdviceImageSquare {
    height: 31.738vw;
    width: 50%;
  }
  .A_ButtonPrimary {
    font-size: 1.4vw;
    width: 14vw;
    height: 5vw;
  }
}
// ExtraForFont
// @media only screen and (max-width: 821px) and (min-width: 701px) {
//   .A_SubCard {
//     font-size: 1.4vw;

//     em {
//       font-size: 1.6vw;
//     }
//   }
//   .O_CardArticle {
//     max-height: 265px;
//     row-gap: 0.5vw;
//   }

//   .M_TagLine {
//     gap: 4px;

//     .A_Tag {
//       font-size: 0.9vw;
//     }
//   }

//   .M_AdviceCard {
//     padding: 1.5vw 1.5vw;
//     gap: 1.5vw;
//   }
// }
// Errors
