.S_SearchContent {
  width: 100vw;
  min-height: 65vh;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  padding-top: 5rem;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 1.5rem;
  gap: 1.5rem;
  margin-bottom: 10rem;

  .M_PostTeaser {
    width: 700px;
    text-decoration: none;
    display: flex;
    // gap: 1rem;
    flex-direction: column;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    border: 1px solid var(--darkGreen);

    &:hover {
      opacity: 80%;
    }

    .A_Text {
      // Загололвок
      &.h3 {
        font-weight: bold;
        width: 85%;
        line-height: 120%;
        font-size: 1.5rem;
        color: var(--darkGreen);
        margin-bottom: 0.5rem;
      }
      &.h3:first-letter {
        text-transform: uppercase;
      }
      // Текст
      &.p {
        color: var(--darkGreen);
        line-height: 125%;
        margin-bottom: 1.3rem;
        width: 70%;
      }
      &.p::first-letter {
        text-transform: uppercase;
      }
      // Теги
      &.tag {
        border-radius: 0.4rem;
        padding: 8px 12px;
        border: 1px solid var(--darkGreen);
        color: var(--darkGreen);
        font-size: 14px;
        line-height: 12px;
      }
    }
    .C_PostTeaserTags {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
    }
  }
}
@media only screen and (max-width: 700px) {
  .S_SearchContent {
    width: 96%;
    margin: 0 auto 15vw;
    padding-top: 5vw;
    .M_PostTeaser {
      width: 98%;
      padding: 3vw 3vw 4vw;
      border-radius: 2vw;

      .A_Text {
        &.h3 {
          width: 95%;
          font-size: 4.5vw;
          margin-bottom: 1vw;
        }
        &.p {
          width: 95%;
          font-size: 3.5vw;
        }
      }
    }
  }
}
