.O_Search {
  display: flex;
  margin: 12rem;
  gap: 1rem;
}
.A_SearchInput {
  border: 1px solid black;
  width: 250px;
  padding: 1rem;
  border-radius: 0.25rem;

  &:focus {
    border-color: inherit;
    box-shadow: none;
    outline: none;
  }
}
.A_Button {
  background-color: cornflowerblue;
  color: var(--darkGreen);
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  font-family: 'Manrope';
  cursor: pointer;
  user-select: none;
  color: white;

  &:hover:not(.desabled) {
    background-color: lighten(cornflowerblue, 10%);
  }

  &.disabled {
    background-color: lightgrey;
    color: grey;
    cursor: default;
  }
}
