:root {
  --white: #ffffff;
  --black: #000000;
  --dark: #737373;
  --middle: #979797;
  --light: #dedede;
  --pink: #ff0aa9;
  --fontSize: 16px;
  --bezh: #fcffcc;
  --primaryGreen: #26ab69;
  --secondaryGreen: #57f0a0;
  --darkGreen: #155335;
}
