:root {
  --white: #ffffff;
  --black: #000000;
  --dark: #737373;
  --middle: #979797;
  --light: #dedede;
  --pink: #ff0aa9;
  --fontSize: 16px;
  --bezh: #fdffdd;
  --primaryGreen: #a7ef9b;
  --yellow: #fffab1;
  --secondaryGreen: #57f0a0;
  --darkGreen: #26734e;
}
