:root {
  --white: #ffffff;
  --black: #000000;
  --dark: #737373;
  --middle: #979797;
  --light: #dedede;
  --pink: #ff0aa9;
  --fontSize: 16px;
  --bezh: #d5ffce;
  --primaryGreen: #70e188;
  --yellow: #fff463;
  --secondaryGreen: #57f0a0;
  --darkGreen: #0a7a44;
}
